[2013-09-09 16:44] gsamokovarov opened #1 "Rack app"
See gsamokovarov/web-console#13

[2013-09-20 13:10] rosenfeld opened #3 "uninitialized constant WebConsole::ConsoleSession::ActiveModel"
This is what I get when I try to use it. I created a new application with `rails new empty -O -T --skip-bundle`. The docker way didn't work for me either since some library header seemed to be missing... I'm trying this on a Debian unstable box.

[2013-09-20 14:56] #3 closed, assigned to nobody

[2013-09-27 09:42] redrick opened #6 "Errno::ENOENT in WebConsole::ConsoleSessionsController#index"
hi guys, I just included gem in gemfile, bundle and rails s, and the localhost:3000/console throws me this....

is this an issue, or just my fault? cannot google it, therefore its here, sry if not issue :)

Errno::ENOENT in WebConsole::ConsoleSessionsController#index
No such file or directory - /Users/Redrick/Projects/intranet_server/bin/rails console

Rails.root: /Users/Redrick/Projects/intranet_

[2013-09-27 11:05] #6 closed, assigned to nobody

[2013-10-16 13:24] #1 closed, assigned to nobody

[2013-10-27 20:08] guilleiguaran opened #8 "Dump into console when an exception happens?"
From David Heinemeier Hansson:

"This looks pretty cool! My preferred usage of this would be if we could automatically dump you into a console when an exception happens. Is that possible? If so, I would like to include by default, but restrict to dev environment."

Sounds this possible? :smile:

[2014-06-09 17:58] gsamokovarov opened #17 "No `Module#prepend_features` for Ruby 1.9.3"
We have to support Ruby 1.9 as long as Rails does. Ruby 1.9 doesn't have `Module#prepend_features`.

Currently, our CI build for 1.9.3 is failing, so we have to use a different approach in `lib/web_console/exception_extension.rb`. Maybe put our backtrace extraction code in `lib/action_dispatch/exception_wrapper.rb`?

[2014-06-12 10:54] prokopsimek opened #19 "What's wrong with server starting with web-console?"
OS = Win 7 x64 Pro
I'm using railsinstaller
Rails 3.2.14
ruby 2.0.0p195 (2013-05-14) [i386-mingw32]
Bundler version 1.5.3

[code]

And I want to start server...

[code]

[2014-06-13 13:28] #19 closed, assigned to nobody

[2014-06-13 13:41] prokopsimek opened #20 "How to run it in beta env?"
Hi, we use 3 environments - development, beta and production - and I want this console to run in beta env. How can I allow it?

[2014-06-13 14:39] #20 closed, assigned to nobody

[2014-08-06 09:20] #17 closed, assigned to nobody

[2014-08-20 08:28] Fudoshiki opened #29 "rake routes in browser"
where is support for rake routes in browser with bundled rails web-console

[2014-08-20 15:50] jonastemplestein opened #30 "Considerations for production use?"
Hey, what I've needed a million times in the past was a production console to fix issues with a quick command when I was away from my computer.

How safe do you consider this console be for production use? My applications already have an admin interface that allows me to administrate the database (and, if I wanted to, destroy all records).

If I mount the console protected by both an administrator

[2014-08-20 16:08] #30 closed, assigned to nobody

[2014-08-21 02:54] noinkling opened #32 "Dragging the resize bar downwards"
On an error page, when the console buffer exceeds the size of the frame, shrinking it with the resize bar anchors it to the line currently at the top of the frame, when it should really be anchored to the bottom.

This means that, for instance, if you fill the console buffer with a bunch of stuff (using `methods` usually works), drag the resize bar up to make the frame bigger, then drag it down ag

[2014-08-21 18:59] kandadaboggu opened #33 "undefined method `web_console'"
I get the following error when ever I try to use the web_console config parameters in `application.rb` OR `development.rb` OR in a separate initializer file.

[code]

The web-console shows up in exception pages and if I add the `<%= console %>` in views. I can't seem to access the console by going to `/console`  URL.

[2014-08-21 21:15] #33 closed, assigned to nobody

[2014-08-21 21:41] dwahyudi opened #34 "Undefined variables/method input twice, crashes ruby"
i tested this both on

[code]

and

[code]

I tried to input a variable which is not defined, twice, at the top of the console, before anything else

[code]

it does nothing, and ruby crashes
this is the long log, something like this: http://pastebin.com/7icd33H7

this one also crashes

[code]

this one crashes too

[code]

btw, thanks before :smiley:

[2014-08-22 00:13] kandadaboggu opened #35 "Non default RoutingError display in development mode"
With out the gem, the routing errors are displayed as follows:

![image](https://cloud.githubusercontent.com/assets/185035/4005338/eacb299a-298f-11e4-8205-9f414e6451a7.png)

With the gem, the routing errors are displayed as below:

![image](https://cloud.githubusercontent.com/assets/185035/4005372/9af13738-2990-11e4-8fd5-4bdebcac7035.png)

The log file shows the following error

[code]

[2014-08-22 03:39] kevincobain2000 opened #36 "cannot paste in console ?"
Hi there. Just a quick question. As we are not able to (CMD+v) in the web console, is this feature intentionally disabled or do have plans in near future?

Thanks

[2014-08-23 11:12] banister opened #37 "Put a link to binding_of_caller repo in README"
Hi,

is it possible you could put a link to the binding of caller repo in the README? Primarily for promulgating the use of binding of caller into other interesting projects, and also to let interested parties know about some of the technology that underlies the webconsole featuers,

Thanks!

John

[2014-08-23 12:00] #37 closed, assigned to nobody

[2014-08-23 15:05] #8 closed, assigned to gsamokovarov

[2014-08-26 03:04] #35 closed, assigned to nobody

[2014-08-26 21:09] #29 closed, assigned to nobody

[2014-08-29 00:02] pastuxso opened #40 "Brackets and Braces don't work for me, I have a Spanish keyboard"

[2014-08-30 02:09] Nowaker opened #41 "cannot execute code due to alleged SyntaxError"
It's legal Ruby code, not sure why it's hitting SyntaxError in web-console.

[code]

Normal console:

[code]

[2014-08-30 10:42] #41 closed, assigned to nobody

[2014-08-30 21:42] Nowaker opened #42 "console scrolls down after selecting anything"
I scroll up the history and want to copy something. Whenever I click, the console scrolls down and I can't select it.

[2014-09-05 23:07] Nowaker opened #44 "support for most common keys and shortcuts"
- Delete
- Home
- End

And these known commonly from shells and irb:
- ^W
- ^U
- ^C
- ^R + typing

[2014-09-07 16:13] pabloformoso opened #45 "Filter chain halted as :prevent_unauthorized_requests! rendered or redirected 401 from localhost"
Trying to access http://127.0.0.1:3000/console or http://localhost:3000/console I get a 401 status code from Puma server (also in Webrick)

[code]

Seen the server request and response I guess that ::1 l0 is not been translated to 127.0.0.1 as first 127.0.0.0/8 loopback IP. Using OS X Yosemite Preview7, Ruby 2.1.2, Rails4.2.0.beta1 and it's possible that the IPv6 notation is causing this problem.

[2014-09-07 16:37] #45 closed, assigned to nobody

[2014-09-11 10:01] davidmles opened #48 "Spring::MissingApplication when in a Rails engine"
I'm trying out web-console in a Rails engine.

The error page and the `console` command work well, showing up the web console.

But when auto-mounting and going to the `/console` URL, an error shows up: Spring::MissingApplication

I have added `config.web_console.automount = true` to `/test/dummy/config/environments/development.rb`

I have grabbed a screenshot:
![screenshot](https://cloud.githubus

[2014-09-14 00:43] Nowaker opened #49 "can't go to every stack frame"
This is my stacktrace. For some entries I'm able to step into the stack frame by clicking its file name, and for some others I can't. Just see `self.class` on each frame.

[code]

In frames marked as WRONG I'm not able to access the local variables. For example, after clicking `machine.rb:27`, I see "extracted source" as:

[code]

I should be able to access `new_machine` or `machine`. Apparently w

[2014-09-15 15:08] Pugio opened #50 "Webconsole 2.0.0.beta3 Immediate SEGFAULT"
Rails 4.1.2rc2. Install the gem, embed the <%= console %>, and try to enter any line into the resulting console box (e.g "a = 1"). The server immediately crashes.

This gist: https://gist.github.com/Pugio/475117839ac8cfb58352 has both the terminal output and the full crash log. Happy to help debug.

[2014-09-25 19:09] gsamokovarov opened #54 "Test agains multiple Rails versions"
We need to better test the gem across the Rails 4 minor (`4-0-stable`, `4-1-stable`, `latest-gratest`, etc.) versions. We would need different gemfiles for the test application and test agains them on travis. See [coffee-rails](https://github.com/rails/coffee-rails/tree/master/gemfiles), for example.

@ryandao do you have time this those days?

[2014-09-30 11:03] mdesantis opened #55 "Add HTTP Authentication configuration"
This is a feature request: add HTTP authentication. Over SSL it would make WebConsole suitable for production environment (with the proper secuirty considerations).

 I'm using the following monkey patch at the moment:

[code]

[2014-09-30 11:34] #55 closed, assigned to nobody

[2014-10-02 02:49] lulalala opened #56 "Does not allow page refresh in Firefox"
I am using Firefox (32.0.3) under Mac OS X. Currently when I type cmd+R, the error page with console does not reload, unlike the expected behavior in Chrome. Instead a plain "r" is entered into the console.

[2014-10-04 10:16] #56 closed, assigned to nobody

[2014-10-10 22:59] jasonl99 opened #57 "Bootstrap 3 clobbers console"
I have an on-page console, and bootstrap has some pretty liberal css that really messes up the display

![console](https://cloud.githubusercontent.com/assets/1554969/4600178/e18d01fc-50cf-11e4-8e61-118b9b09a9b6.png)

 (ignore the thumbs above the console...I just captured too much)

I added this to application.css.scss to override bootstrap's css:

[code]

and I ended up with this

![console2](htt

[2014-10-18 09:33] #57 closed, assigned to nobody

[2014-10-18 10:00] #42 closed, assigned to nobody

[2014-10-26 16:56] #54 closed, assigned to ryandao

[2014-10-31 23:17] sime opened #65 "Disable auto focus?"
Hi

If I have web-console on every page, it steals focus. Is it possible for the focus to be defaulted (or configurable) to the page?

Has this been discussed elsewhere?

[2014-11-05 21:05] #49 closed, assigned to nobody

[2014-11-23 22:07] gsamokovarov opened #70 "Extract the terminal part into optional standalone gem"
I think most of the people are confused with the terminal part of Web Console. As much as I love [web-console 1.0](https://github.com/rails/web-console/tree/v1.0.4) and its quirkiness I think it gotta go into its own project, if it is to be developed any further.

Its hard do document of the different aspects of Web Console as is. Some of the settings are specific only to the terminal part, other

[2014-11-24 10:06] gsamokovarov opened #71 "JSON::ParserError on exploiting request alihack / ali.txt"
Could be related to rails/rails#17731. Leaving open for investigation.

[2014-11-24 14:53] gsamokovarov opened #72 "Console on the template missing error pages"
Continuation of a [discussion](https://github.com/rails/web-console/issues/70#issuecomment-64191942) in #70.

It needs to be implemented in Rails itself and backported back with a console attached, at least until #69 is merged.

[2014-11-25 19:02] #70 closed, assigned to gsamokovarov

[2014-11-25 21:23] #71 closed, assigned to nobody

[2014-11-25 21:23] #72 closed, assigned to nobody

[2014-11-27 22:36] gsamokovarov opened #82 "Investigate the ability to close a console once rendered on a page"
People have showed an interest to be able to close a console, once rendered from a view or a controller action. Let's prototype an UI. I would like to avoid a key combination, so it doesn't collide with the currently running application.

[2014-11-27 22:42] chancancode opened #83 ""Properly" teardown the console on navigation/close"
This probably goes hand-in-hand with #82.

Specifically, since turbo-links is enabled on the default stack, we should make sure we don't keep any event listeners around on navigation or when the user closes the console.

If possible, we should also try to attach the event listeners on our container, instead of on the whole document. That way, the hot keys will only be active when the console is fo

[2014-12-05 23:39] colszowka opened #85 "Keyboard hijacking"
Whenever I get an exception on Rails 4.2, the keyboard immediately shifts to web console. While this might be useful when opening google, for me it is terribly annoying in this case because usually I just skim over the exception, know what to fix, skip to the editor, fix it and try to refresh, only to realize that ctrl+r does not work anymore. I think this is the more common case opposed to wantin

[2014-12-06 18:33] #85 closed, assigned to nobody

[2014-12-12 09:42] gsamokovarov opened #87 "Post 2.0 Maintainance"
A couple of things got out of hand for 2.0 stable. [README.markdown] and [CHANGELOG.markdown] are one of them as well. Let's get them in shape again!

I'm creating this issue here so I can track the progress and give visibility to the community. If you wanna help out, you are quite welcome to :)

## Readme

- [x] Single GIF with better quality and better examples of the console.
- [x] Documentatio

[2014-12-22 19:39] rosenfeld opened #90 "Can't evaluate anything from the shell - 500 or 404 errors"
First I got 500 errors with no stacktrace and then I added 0.0.0.0 to whitelisted_ips (it seems to be detecting the request from IPV6 ::1) and the error changed to 404 and now I get a stacktrace:

[code]

Any ideas?

[2015-01-03 14:20] pmontrasio opened #96 "Return key not working"
I created an empty Rails 4.2 application using rails new.
I access http://localhost:3000/a to get a 404 error and open the console.
I can type anything but nothing happens when I press the return key. It's completely ignored and the cursor keeps staying on the same line.
I tested that with Firefox 34.0 and Opera 26.0 on Ubuntu 12.04.5, Ruby 2.1.0 and Ruby 2.2.0.
Another possibly related strange be

[2015-01-08 10:46] ttosch commented on #96
Same issue about the return key on Chromium 41.0.2249.0 (Plugins: ABP, Ghostery), Ubuntu 14.04, ruby 2.1.5p273, rails 4.2.0. `<%= console %>` not tested.

[2015-01-08 14:39] bdewater commented on #96
I'm having the same problem. If I go to an error page (say http://local.dev:8080/foo/bar/) I get the following error every time I type something in the web console and hit enter:
`PUT http://cauth.dev.dmtw.nl:8080/foo/bar/console/repl_sessions/a4ec05340db9379b5c3753198cb7f524 404 (not found)`
So the enter key does work...

[2015-01-08 15:10] pmontrasio commented on #96
Thank you for the feedback. I checked and I have the same error. In my case the hash (?) at the end is different (not unexpected) and the error sent by Rails is:

[code]

[2015-01-08 18:25] gsamokovarov commented on #96
This seems to be a common problem, thank you guys for confirming it. I will try to make it reproducible and fix it as soon as possible.

[2015-01-08 18:35] zdavis commented on #90
I'm experiencing this behavior as well—what's strange is that it's intermittent. Maybe 1 out of 10 requests that the console makes succeed, while the other 9 return a 500 error. I'm using nginx + unicorn. There's no indication of what's wrong in the Rails logs or in nginx's logs.

[2015-01-09 08:25] gsamokovarov commented on #90
@zdavis the evaluation sessions are preserved in memory. If you have multiple unicorn workers, they are separate processes. When nginx balances them, you can hit a worker that doesn't have the session. I will try to document that behaviour better.

[2015-01-09 17:57] zdavis commented on #90
Oh, that makes sense—I do have multiple unicorn workers running in development. Thanks for the explanation!

[2015-01-17 22:12] hackeron commented on #96
Same issue here, cannot press enter/return :(

[2015-01-21 07:49] chengguangnan commented on #36
Not sure why is this closed. I still can't paste.

- web-console 2.0.0
- OSX
- Chrome and Safari

[2015-01-26 08:41] #65 closed

[2015-01-26 08:43] gsamokovarov commented on #48
Support for `/console` was removed in 2.0 stable, because of feature creep.

[2015-01-26 08:43] #48 closed

[2015-01-26 08:45] gsamokovarov commented on #90
@zdavis, @rosenfeld Can you guys try out the latest master and see if the problem still persist? Your feedback would be of great help.

[2015-01-26 08:48] gsamokovarov commented on #96
@pmontrasio, @ttosch, @bdewater and @hackeron can you guys try out the latest master and see if the problem still persists?

The easiest way to do that is putting the following line in your `Gemfile`:

[code]

Your feedback would be of great help.

[2015-01-26 09:21] ttosch commented on #96
Works for me now, thanks very much! This is awesome, web console is so much fun :+1:

[2015-01-26 12:28] rosenfeld commented on #90
Now I only see the static error page with details but no input to evaluate anything. I changed the bind address to 0.0.0.0 to be sure... Any ideas?

[2015-01-26 13:38] gsamokovarov commented on #90
@rosenfeld have you checked whether the IP is whitelisted?

[2015-01-26 14:48] rosenfeld commented on #90
I added 0.0.0.0. Isn't it enough?

[2015-01-26 15:12] gsamokovarov commented on #90
@rosenfeld So you have something like `config.web_console.whitelisted_ips = %w( 0.0.0.0 )` in the config? If so, this will whitelist addresses coming _only_ from the 0.0.0.0 IP. All those whitelists are actually implemented with `IPAddr` and it supports network masks to whitelist whole networks.

If you wanna catch all the IPv4 addresses, you have to do: `config.web_console.whitelisted_ips = %w( 0

[2015-01-26 17:33] rosenfeld commented on #90
Hi, I tried this setting but the result was the same.

I've also tried `<%= console %>` in the view and got no output. Any ideas?

[2015-01-26 17:33] rosenfeld commented on #90
This is how I included the gem in the Gemfile:

[code]

[2015-01-26 18:43] gsamokovarov commented on #90
@rosenfeld can you give me some more info for the environment, so I can try and reproduce it locally. Ruby and Rails. Development server version and maybe versions of other gems introducing middleware.

[2015-01-26 18:54] rosenfeld commented on #90
I'll try to find some time to create some sample application. I can't send you our Gemfile and Gemfile.lock because some gems are internal ones and are not available on rubygems. Right now I'm a bit busy but I'll try to create another project with most of the gems and see if I can replicate the issue... We're using Rails 4.2.0 (Railties only actually as we don't use ActiveRecord).

[2015-01-26 19:04] rosenfeld commented on #90
Ok, I just created a new Rails app and I think I could reproduce the issue. It works until I add "puma" to the Gemfile. If you can't reproduce please let me know and I'll publish the sample project.

[2015-01-26 20:50] gsamokovarov commented on #90
Thanks @rosenfeld for helping me. I think fixed the Puma rendering in #100.

[2015-01-26 22:22] rosenfeld commented on #90
Hi, yes! Thank you very much :) It's fixed on master. Sorry for the delay, I was practicing bandolim and didn't see the messages before :P

[2015-01-26 22:22] #90 closed

[2015-01-26 22:26] #96 closed

[2015-01-27 19:43] pmontrasio commented on #96
It works now, but only with

    gem 'web-console', '2.0.0.beta4'

If I put this in the Gemfile the console doesn't appear at all

    gem 'web-console', github: 'rails/web-console'

and that seems a further regression over the original bug report. However it's still doing something because if I put ```console``` in a controller action and ```<%= console %>``` I get a ```WebConsole::DoubleRenderEr

[2015-01-28 12:20] ttosch commented on #96
@pmontrasio, for me the console didn't appear as well, but it turned out that I was not accessing on localhost and had forgotten to specify `config.web_console.whitelisted_ips = %w( xx.xx.xx.xx )` in my environment.

[2015-01-28 17:50] rctneil commented on #96
I've been having these same issues since Rails 4.2 was released. I can ONLY get it working with: `gem web-console', '2.0.0.beta4'

[2015-01-28 19:42] gsamokovarov commented on #96
@rctneil, can you try master and see if the issues persist?

[2015-01-28 22:00] rctneil commented on #96
@gsamokovarov Nope, when using : gem 'web-console', github: 'rails/web-console' it fails to even show the console.

[2015-01-29 13:28] bdewater commented on #96
We've since switched our apps over from a Ubuntu VM with Passenger setup to CoreOS VM + Dockers with Puma setup. After pulling in master (at 38b1540), the console was at first not shown. After setting [config.web_console.whitelisted_ips](https://github.com/rails/web-console#configweb_consolewhitelisted_ips) to allow 10.0.0.0/8 (env dump on error page had REMOTE_ADDR: "10.1.42.1"), web console is s

[2015-01-30 14:44] TangMonk opened #103 "did it work for rails 4.1?"

[2015-01-30 16:13] gsamokovarov commented on #103
It generally should :) Can you give a bit more context on what are you trying to do?

[2015-02-01 02:50] TangMonk commented on #103
When I insert ```<%= console %>``` to erb file, and reload the view, not works

[code]

[2015-02-01 13:16] #32 closed

[2015-02-11 18:08] parterburn commented on #36
@chengguangnan same here. The PR #106 addresses it.

If you want a temporary fix you can add the following style to your own CSS file:
[code]

[2015-02-16 20:48] drewswaycool commented on #96
curious why this is closed if it's not fixed?

[2015-02-17 10:32] urmorae opened #108 "IP Whitelist is not enforced on exceptions"
Rails 4.2, web_console 2.0.0 if exception occures, IP whitelist is ignored and console is displayed no matter the user IP.

There's a second initialization of console_session variable,  not wrapped in "if allowed?"

In lib/action_dispatch/debug_exceptions.rb (around line 54):

if env['action_dispatch.show_detailed_exceptions']
  request = Request.new(env)
  if allowed?(request)
    console_session

[2015-02-17 12:59] gsamokovarov commented on #108
@urmorae Can you test the latest master and see if the issue persist?

[2015-02-17 13:19] gsamokovarov commented on #96
I do believe its fixed. @drewswaycool Can you try the latest master and see if it still persists for you? If the console isn't shown because of whitelisting issue, a message on the Rails log will be displayed to help you what's going on.

If the issue is really still global, I will reopen it.

[2015-02-17 13:52] urmorae commented on #108
Master is ok, it seems to be rather throughout rewrite. However, even in master one cannot turn of console popping up for localhost - even if config whitelist does not include 127.0.0.1

[2015-02-17 15:06] gsamokovarov commented on #108
@urmorae Thanks for the feedback! I actually made this intentional, since I though most of the users are getting confused of why they can't get to the console once they whitelist a single IP. What's your use case of wanting to disable localhost?

[2015-02-17 15:14] urmorae commented on #108
I have two rails developers working on the same project, one wants the console gone, one doesn't. Would the whitelist work, one could have different env with different config. Well, he does, but only since I monkey-patched v2.0.

[2015-02-17 20:36] gsamokovarov commented on #108
You can still monkey patch `WebConsole::Request` in future `2.1`. Still not really sure if I should introduce a custom auth scheme just for this case. Will that work for you? Can I close the issue now?

[2015-02-17 20:39] urmorae commented on #108
Sure, the monkey patch works for me.

[2015-02-17 20:47] #108 closed

[2015-02-20 01:16] drewswaycool commented on #96
Using master I frequently get "Session unavailable" though the return key does seem to work now.

[2015-02-20 09:51] gsamokovarov commented on #96
@drewswaycool Do you happen to run on a multi-process server like unicorn?

[2015-02-20 18:20] drewswaycool commented on #96
Yeah actually.. did I miss something in the docs?

[2015-02-20 20:29] gsamokovarov commented on #96
Because we persist the REPL session in memory, if you run it in unicorn with multiple processes, you are likely to hit a worker, which doesn't have the session in its own process memory, so multi worker environments aren't the best bet. Yeah, this isn't mentioned in the docs and we really lack good docs at the moment. Any contributions are greatly appreciated on that side :)

What I can do is hint

[2015-02-27 17:10] frankh opened #111 "Typing "c" causes segfault"
I suppose this is kind of a ruby bug more than web-console but anyway...

When typing just "c" in the console i get a segfault. Same thing happens with just "l" so I assume it's to do with debugger commands

Rails: 4.2.0
Web-console: master (3775fe0637d51ae8efb110fd9333dd1c86171e53)
Ruby: 2.1.3p242

partial trace:

    Started PUT "/console/repl_sessions/c17abb55e84469f3590b438f3042ae73" for 127.0

[2015-02-27 18:42] gsamokovarov commented on #111
Yeah, my first instinct is to blame a C extension here. Is your Gemfile sensitive, can you post it here?

[2015-02-27 18:59] frankh commented on #111
I'll post it on Monday. Possible candidates are new relic agent (as that's in the trace) or byebug (aka debugger, because c and l are debugger commands).

[2015-03-02 09:56] #87 closed

[2015-03-02 12:40] frankh commented on #111
Here's the full Gemfile.lock

    GIT
      remote: https://github.com/FriendlyId/friendly_id.git
      revision: b5290a91aaa99847022ed9066712ef1d3192654e
      specs:
        friendly_id (5.1.0)
          activerecord (>= 4.0.0)

    GIT
      remote: https://github.com/rails/web-console
      revision: 3775fe0637d51ae8efb110fd9333dd1c86171e53
      branch: master
      specs:
        web-console

[2015-03-02 12:41] frankh commented on #111
also, it seems it doesn't segfault in the console on the error page, only when inserting in my template using ```= console```

[2015-03-02 13:19] panaak commented on #96
also having issues in rails 4.2. for me it only works with:

gem 'web-console', '2.0.0.beta4'

2.0: gives routing error
github master: does not show the console at all

[2015-03-02 13:23] gsamokovarov commented on #111
@frankh, does it crash on any `NameError` or just on `c`, `l`? E.g. if you type `i_am_sure_there_is_no_such_local_var_or_method` does it crash as well?

[2015-03-02 13:27] gsamokovarov commented on #96
@panaak, can you install `2.1.0` (it was released recently) and try that as well? If it doesn't show the console, it will post a message on the Rails log looking like:

`Cannot render console from...` or `Cannot render console with content type...`

Can you show me this message if it happens at all?

[2015-03-02 13:39] panaak commented on #96
ok, trying `2.1.0`:

`Cannot render console with content type application/x-www-form-urlencodedAllowed content types: [#<Mime::Type:0x00000003f2f5c8 @synonyms=["application/xhtml+xml"], @symbol=:html, @string="text/html">, #<Mime::Type:0x00000003f2f2d0 @synonyms=[], @symbol=:text, @string="text/plain">]`

my setting in development.rb:

  `config.web_console.automount = true
  config.web_console.wh

[2015-03-02 13:40] frankh commented on #111
I thought it didn't crash with every nameerror because I tested "asd" and that didn't crash.

Turns out it was just a coincidence, and almost everything crashes every time (including "asd")

[2015-03-02 14:08] gsamokovarov commented on #111
@frankh if you can reproduce it in a view console, can you try to boil down a reproducible testing app with the same `Gemfile{,.lock}`. It would be of great help to me investigating, because I still can't get it to crash on me.

[2015-03-02 14:17] gsamokovarov commented on #96
You can try adding this to your config:

[code]

Does it help? By the way where have you put this console? If its in a controller or a view, what is the action its in?

[2015-03-02 14:28] panaak commented on #96
i tried adding this config option and now the console shows up, but it doesn't really work:

[code]

right now i put the `console` command in an EDIT action of a controller, before that i only waited for an error to occur..

[2015-03-02 14:34] gsamokovarov commented on #96
Is this a development server you are running with apache and phusion passenger?

[2015-03-02 14:35] panaak commented on #96
yes, develeopment debian server with apache + phusion passenger..

but wait, now it seems to be working.. first it said the session no longer exists, but when i try to visit another url with a different ID to edit in a controller, it works.. ??

[2015-03-02 14:44] gsamokovarov commented on #96
I have to investigate the Phusion Passanger case, because I never used it and I don't know how request work inside of Apache sandbox. People usually run the console on their local machines where with `bundle exec rails server`.

Don't know if other people are using this machine as well, if that's the case I would advice to keep the console off of it. It may introduce great security issues – the co

[2015-03-02 14:51] panaak commented on #96
thanx for investigating.. i'm really not sure about the environment of passenger sandbox really, so i won't be of much help here..

yes, i'm aware of the security concerns, but for development environment, which is all behind an http auth it really doesn't matter.. and i find the web-console a great tool for debugging.. untill now i used pry, which is also great, but your console looks better and

[2015-03-02 15:28] frankh commented on #111
I've managed to create a reproduction repo, but it seems very flakey (sometimes I could reproduce, sometimes I can't)

It's at ```https://github.com/frankh/web-console-issue-111```

Steps to reproduce:

  1. ```git clone https://github.com/frankh/web-console-issue-111```
  2. ```cd web-console-issue-111```
  3. ```bundle```
  4. ```bundle exec rails s```
  5. open new chrome incognito window (make

[2015-03-02 18:02] gsamokovarov commented on #111
Hey, @frankh, I am able to reproduce the problem now. Thank you so much!

[2015-03-11 11:19] yoonwaiyan opened #116 "Segmentation Fault on Rails 4.1.7 && not working in Firefox"
I got segmentation fault when I enter an instance variable, let's say @user which is available in that controller. ```<%= console %>``` is called inside `payment.html.erb`

```ruby```
  def payment
    @user = current_user
  end
[code]

[2015-03-11 11:23] gsamokovarov commented on #116
I have seen other segfaults on Ruby 2.1. Is you Gemfile sensitive, can you post it here?

For the Firefox issue, when the console isn't shown, it should log in the console, why the console wasn't rendered. Can you post that here as well?

[2015-03-11 11:31] yoonwaiyan commented on #116
This is the Gemfile.

```ruby```
source 'https://rubygems.org'
ruby '2.1.2'

# Bundle edge Rails instead: gem 'rails', github: 'rails/rails'
gem 'rails', '4.1.7'
# Use sqlite3 as the database for Active Record
#gem 'sqlite3'
#gem 'pg', '~> 0.17.1'
# Use SCSS for stylesheets
gem 'sass-rails', '~> 4.0.3'
# Use Uglifier as compressor for JavaScript assets
gem 'uglifier', '>= 1.3.0'
# Use CoffeeScript

[2015-03-11 11:58] gsamokovarov commented on #116
Thank you for the Gemfile. The firefox issue should definately be a frontend bug then. What version you are using?

[2015-03-13 09:21] yoonwaiyan commented on #116
I'm using Firefox 36.0.1.

[2015-03-13 09:40] danieldimitrov commented on #103
Do you have `gem 'web-console', '~> 2.0'` in your Gemfile? I tried it in 4.1.8. and it works pretty well.

[2015-03-19 23:35] mvz opened #119 "Gem contains developer's local test suite logs and asset cache"
Because the gemspec uses a blanket glob of files under `test/`, any files there will get packaged. In the current release, that includes a 26 MB `development.log`, a `test.log` half that size, and a 2.4 MB asset cache.

[2015-03-19 23:48] rafaelfranca commented on #119
Right! We can safely not include the test folder on the gem package.

On Thu, Mar 19, 2015, 20:35 Matijs van Zuijlen <notifications@github.com>
wrote:

[2015-03-20 19:33] #119 closed

[2015-03-31 02:16] sh19910711 opened #121 "Create browser extensions as a GSoC project"
Hello, I'm one of possible students from [GSoC 2015](https://www.google-melange.com/gsoc/homepage/google/gsoc2015). I have submitted a proposal about browser extensions of web-console. Here is a public link of the proposal draft:
- https://github.com/sh19910711/google-summer-of-code-2015/blob/master/rails-web-console.md

What do you think of this? Please ask if you have anything unclear, because I

[2015-03-31 02:20] sh19910711 commented on #121
And also I'm not fluent in English, so I've prepared some figures to describe the my proposal. The figures are pseudo-images (they are fake screens).

##### 1. Main Feature

The browser extension allows to display the console aside from the web application's view (i.e., the console will be displayed in the web browser's developer tools):

![without_context](https://camo.githubusercontent.com/717b1

[2015-03-31 09:23] askuratovsky opened #122 "production using"
Is there any suggestions how to use it on production? Maybe generate own controller and use it with CanCan abilities?

Thanks for this nice gem!

[2015-03-31 10:37] gsamokovarov commented on #122
I would strongly suggest against that as it lets you execute arbitrary code on the server. It may be grossly insecure.

[2015-03-31 10:37] #122 closed

[2015-04-06 07:16] sh19910711 commented on #121
Hello, again :v:

Today, I have made an animated gif of context viewer as a mock-up (and fixed misunderstanding):

![gif](https://farm8.staticflickr.com/7587/16428577544_5c0bb09a04_o.gif)

The change than before is that an array can be expanded in the viewer. Here is an example diff showing that change:

[code]

I think the context binding of the viewer will be the same as the console.

[2015-04-09 22:30] sarahmei opened #125 "web-console markup & javascript is outside the <html> element of the page"
...and it confuses Capybara.

When I have web-console installed, and my Capybara test hits a Rails error page, I get this super confusing error message:

[code]

This error occurs because web-console's HTML elements (including script tags) are placed at the bottom of the file, outside the `</html>`. As a result, Capybara thinks there are two webpages in the file, and gives up.

Is it possible to m

[2015-04-10 09:50] rstormsf opened #126 "hide logs"
Is it possible just to hide those logs:

[code]

[2015-04-10 12:33] gsamokovarov commented on #125
This is something we did from the beginning as the easiest thing to get us going. Browsers usually don't complain and take whatever they have to work with, however I think this is a legitimate concern. I think we can put some work into injecting the markup at a more appropriate place.

Just curios, did you forgot the `console` invocation during the test run or was it intended to be there?

[2015-04-10 12:48] gsamokovarov commented on #126
We're using `ActionView` for rendering of the Web Console markup and it instruments those events that get logged during rendering. We can probably hack something around it, but I like the transparency it gives.

[2015-04-10 12:48] #126 closed

[2015-04-10 17:44] sarahmei commented on #125
I didn't invoke the console at all, as far as I know. All I have to do is include the web-console gem in my Gemfile, and then the elements & JS get injected into the error pages. I'm assuming this is automatic and on-purpose. :)

[2015-04-10 17:47] chancancode commented on #125
Hm, do we intend for web-console to run in test mode? Seems like it won't be useful there (and as it turned out, can cause problems). Generally, the test environment should be closer to production than development, so it probably shouldn't run in test mode?

[2015-04-12 11:52] gsamokovarov commented on #125
@chancancode we never intended it to be used in test mode, but we don't enforce anything during runtime anymore.

[2015-04-17 11:10] dreyks opened #128 "web-console and Rack::Deflater"
When using `Rack::Deflater` the console doesn't appear. Obviously cause it is trying to attach itself to a gzipped body.

The solution is to include `Rack::Deflater` as early as possible
[code]

probably should be noted in FAQ section

[2015-04-20 08:17] gsamokovarov commented on #128
Thanks for the heads up! You can open a PR for the [README section](https://github.com/rails/web-console#faq).

[2015-04-20 08:19] dreyks commented on #128
Ok, will do

[2015-04-20 08:20] gsamokovarov commented on #128
:+1:

[2015-04-21 15:03] gsamokovarov commented on #121
Yo @dhh, @jeremy, @chancancode and anyone interested in the development of this project: do you guys wanna chime in and share your ideas about our direction?

One of the ideas I want to explore is have the web-console be optionally always on. Meaning, you can introspect and evaluate code in every binding of the current execution stack. We may crash them Rubies, but its something I'm interested in

[2015-04-21 20:31] dhh commented on #121
Love the idea of having the console be always on in development mode.

On Tue, Apr 21, 2015 at 11:03 AM, Genadi Samokovarov <
notifications@github.com> wrote:

[2015-04-22 11:22] dreyks commented on #128
rails/web-console#130

[2015-04-22 11:31] #128 closed

[2015-04-22 11:37] gsamokovarov commented on #128
Thanks!

[2015-05-02 16:56] rubyconvict commented on #82
+1, I love web-console when it is needed, but I hate it when it trashes my view all the time, please add some toggle functionality, because IP filter is poor man's option, consider full-stack devs or frontend guys, we all work on localhost in development.

[2015-05-17 16:26] frenesim opened #133 "undefined method `web_console' for #<Rails::Application::configuration"
I have this on my rails configuration
config.web_console.whitelisted_ips = '10.11.50.22'
which works as supposed, but i can't run test unless I comment it.

So:
shell> rspec
I get:
undefined method `web_console' for #<Rails::Application::Configuration:0x00000002305190> (NoMethodError)

I opened an issue on rspec as well.

[2015-05-17 16:46] yuki24 commented on #133
I guess you just have to move `config.web_console. whitelisted_ips = ...` to `config/environments/development.rb` from `config/application.rb`.

[2015-05-18 08:38] gsamokovarov commented on #133
Thanks @yuki24. I will try to hint setting the configuration in the environment specific files in the docs.

[2015-05-19 14:04] frenesim commented on #133
Thanks yuki24 your guess is accurate. With this I learn that each configuration line belongs to a place and I should take the time to think about where to place them.

[2015-06-04 03:47] rthauvin commented on #40
Same for me. I have an AZERTY french keyboard layout : all special characters normally triggered with the [ALT] keys (ie.: #{[|`\^@]}€¤) don"t work at all. Any workaround until resolved? (except copying/pasting the characters from elsewhere). Thanks.

[2015-06-07 10:51] ryandao commented on #40
Interesting, I never thought about that. The current console considers ALT (and CTRL) key combinations as non-renderable as specified in the logic here https://github.com/rails/web-console/blob/master/lib/web_console/templates/console.js.erb#L322.

I don't have any workaround at the moment. @gsamokovarov maybe we need to re-think the current key press approach? A hidden input element should solve

[2015-06-08 14:56] gsamokovarov commented on #40
@ryandao, if you wanna take a shot at that, please go ahead.

[2015-06-18 15:23] lustremedia opened #141 "config.web_console.templates_path is not picked up"
I'd like to style the console from being positioned 'fixed' to being positioned 'relative'. I have tried to pull in styles as mentioned in the ReadMe but style.css is never picked up, or does not overwrite the default styles.

Rails 4.2

[2015-06-18 19:12] gsamokovarov commented on #141
Can you give us the exact locations of the stylesheet, its content and the config you set?

[2015-06-18 19:19] lustremedia commented on #141
First I tried it in my application "app/assets/stylesheets/web_console" and the config in application.rb. After that did not work I thought it might conflict with the assets pipeline and moved it to the location set in the README "app/views/web_console" no luck there either.

[2015-06-19 02:48] sh19910711 commented on #141
I guess it may be fine to use `config.web_console.template_paths` instead of `config.web_console.templates_path` (and it seems to need a fix for the code or the doc).

https://github.com/rails/web-console/blob/26753c6279db73260a7de018e5630b0b5d56cfe1/lib/web_console/railtie.rb#L43

[2015-06-19 06:23] gsamokovarov commented on #141
Oh, there is a typo in the README. Let me fix that @lustremedia, can you set the setting `config.web_console.template_paths` (instead of `templates_path`) and try again? Thanks @sh19910711  for noticing that.

[2015-06-19 07:04] lustremedia commented on #141
"config.web_console.template_paths" worked for me! However, is the console always appended to the end of the page? I want the console to be somewhere in my content flow. How can I accomplish that?

[2015-06-19 07:47] gsamokovarov commented on #141
@lustremedia You can't do that at the moment. We may apply a smarter strategy in the future that appends the console in the head or at the end of the body of the current content so it also results in a valid HTML document as well. Sadly, this isn't the case right now.

[2015-06-19 07:52] #141 closed

[2015-06-19 07:52] lustremedia commented on #141
@gsamokovarov No Problem. What would be really nice: A button where you can hide or show the console so that it does not interfere with the layout!

[2015-06-19 08:00] gsamokovarov commented on #141
See #140, its already in the making. :-)

[2015-06-19 08:08] lustremedia commented on #141
Ah cool!

[2015-06-19 11:52] lustremedia opened #143 "'method_missing': undefined method when using guard gem running tests"
When running guard I get following error:

gems/railties-4.2.2/lib/rails/railtie/configuration.rb:95:in `method_missing': undefined method `web_console' for #<Rails::Application::Configuration:0xba8024b4> (NoMethodError)

This is with latest 2.1.3 GEM.
I saw #33 but the issue mentioned there and the resolve seems to be a newer version.

[2015-06-19 11:54] lustremedia commented on #143
Ah I just now saw #133 let me see if that is the issue

[2015-06-20 13:22] gsamokovarov commented on #143
Keep the configuration in `config/environments/development.rb` and `web-console` only in the `development` group (not even the test one). This should fix it for you.

[2015-06-20 13:23] #143 closed

[2015-06-21 09:29] #133 closed

[2015-06-22 09:28] gsamokovarov commented on #82
Should be closed by #140. A new release will follow soon.

[2015-06-22 09:28] #82 closed

[2015-06-23 04:41] sh19910711 commented on #121
Hi, all. This is a intermediate progress report of GSoC 2015, in short. :tea:

##### 1. Add JavaScript Test Environment

PR #138

![image-js-test](https://lh3.googleusercontent.com/wnA8sntEpxQQCvNjSh19UMhUEVM3oXi8uQbgWMs7E7I=w503-h377-no)

##### 2. Add Close Button to Web Console

PR #140

![image-close-button](https://lh3.googleusercontent.com/EQjS8YIqgkjjiv7oplJYN6yGAGNLVEm7vXsnXx9ro98=w600-h300

[2015-06-23 07:22] gsamokovarov commented on #121
Now that we have prototypes of the browser extensions, let's discuss where they should actually live.

1. Let them live in `rails/web-console`. I like this approach as everything is in one place and we can easily reuse the JavaScripts across every project. However, it does have the drawback of blowing up the repo with extension specific commits. We may also end up with extension specific maintaine

[2015-06-24 05:34] sh19910711 commented on #121
I haven't sorted out my ideas of that yet, but I think the browser extensions should be located as a sub-project of Web Console, and I think it is better, in that point, to put the code of the browser extensions under the `rails/web-console`, so plus one to the option 1 so far.

Yeah, that is my concern.

That is also. I need to think of that.

Thanks.

[2015-06-30 15:29] VirtualPaul commented on #96
Was seeing this issue as well in a local environment with only a single process. Finally fixed by disabling caching for the view hosting the console:

## web_console_controller.rb:
[code]

[2015-06-30 18:50] gsamokovarov commented on #96
@VirtualPaul What version did this happened on? One of the latest ones that use ActionView for the template tooling?

[2015-06-30 23:05] VirtualPaul commented on #96
@gsamokovarov

Web-Console 2.1.3
Rails 4.0.2
Ruby 2.0.0

[2015-07-07 16:34] sh19910711 opened #148 "Let's Create Web Console Context Viewer"
Hello!

First of all, the context viewer will be to display the information of the current session context, and it will also provide some pretty printing for well-known objects (e.g., `ActiveRecord::Relation` and something like that). So we will be able to see what objects are available on the current context of Web Console.

#### 0. Initial Idea

![gif](https://farm8.staticflickr.com/7587/1642857

[2015-07-10 18:34] jcoyne opened #150 "web-console 2.2.0 causes "Web Console is activated in the test environment""
The default Gemfile for rails 4.2.3 has web-console in the test group.

See https://github.com/rails/rails/pull/20319#issuecomment-120487468

[2015-07-10 18:35] jcoyne commented on #150
See https://github.com/rails/rails/blob/v4.2.3/railties/lib/rails/generators/rails/app/templates/Gemfile#L24-L41

[2015-07-10 19:45] gsamokovarov commented on #150
This is intentional, but maybe the change hasn't been backported to the 4-2-stable branch. I'll tweak the readme and try to push for the backport. Thanks for the report!

[2015-07-10 19:48] gsamokovarov commented on #150
The backport [did](https://github.com/rails/rails/pull/20319#issuecomment-120491827) happened.

[2015-07-10 20:09] #150 closed

[2015-08-07 15:32] FlowerWrong opened #155 "rails 5.0.0 alpha NoMethodError: undefined method `remote_addr' for nil:NilClass"
[code]
I exec `rake test`. There are 23 errors.
[code]

[2015-08-07 17:45] gsamokovarov commented on #155
Absolutely correct. Thanks for the quick report.

Seems that https://github.com/rails/rails/commit/07b2ff03d04656faccc68c83541b06e318a36ed7 breaked it, but that's what we get for relying on Rails internals knowledge. Will look it up.

[2015-08-07 20:28] #155 closed

[2015-09-15 07:10] pdipietro opened #164 "The old 'cannot render console' revamping"
Hi all,

After installing the `gem 'web-console', '~> 2.0'` I got an error stating `cannot render console from ....`
So I searched the web and added a `config.web_console.whitelisted_ips = '192.168.10.10'` in the development.rb.

Now the error become a little bit more intriguing:

    Started GET "/assets/cloudinary/jquery.ui.widget.self.js?body=1" for 192.168.10.10 at 2015-09-15 08:55:04 +0200

[2015-09-15 12:17] gsamokovarov commented on #164
When did you install it? Is that the last released `web-console` version?

[2015-09-27 12:14] pdipietro commented on #164
Well, because it is written in any of the doc sheets of your site .... in any version .....

Now I'll try to install the 2.2.1, which seems to be the latest one released.

I'll let you know if this will solve the problem.

[code]

[2015-09-29 15:52] brunze opened #166 "Whitelisted but still cannot render console in Docker"
Is there any reason why web console wouldn't work on Rails app running inside a Docker container? I've whitelisted the source IP address but it isn't working:

[code]

Same thing happens if I whitelist the whole address block:

[code]

I'm using web-console 2.2.1. Dockerfile:
[code]

[2015-09-29 17:08] gsamokovarov commented on #166
This is a dup of #164. Sorry for the inconvenience, will try to track down the problem and release a new version with a fix as soon as possible.

[2015-09-29 17:52] brunze commented on #166
Oops! My bad. I'll close this one and track the original issue. Thanks!

[2015-09-29 17:52] #166 closed

[2015-09-30 08:46] gsamokovarov commented on #166
Hey @brunze, sorry to bother you again, but can you help me get a small, stripped-down and reproducible application out of it? I have set up a VM and I can't seem to get the issue there as the whitelisting allows it.

Any context will be useful to me: where did you setup the config. What other gems do you use? OS, Ruby, anything you can think of. All of this can be of great help to me.

[2015-09-30 19:30] brunze commented on #166
Yes, absolutely. I'll get back to you with this asap.

[2015-10-01 21:05] brunze commented on #166
Hi @gsamokovarov! I was in the process of narrowing down my Docker setup when I figured it out:

I have Nginx and Unicorn on separate containers. The web console worked if I sent the requests directly to Unicorn. But If I sent the requests through Nginx it would have the problem stated above.

The `172.17.*.*` address is Nginx's IP as seen from Unicorn, inside the VM. However, my IP outside the VM

[2015-10-01 21:23] gsamokovarov commented on #166
Thanks for the input and glad that it worked for you! :smile: I would like to go down this rabbit hole, if there is something sensitive about and you can't post it here or in a public gist, you can mail them to me at the-same-handle-as-in-github@gmail.com.

[2015-10-02 07:35] brunze commented on #166
All right, here's the setup I used: https://github.com/brunze/wctest

[2015-10-05 03:38] indirect opened #167 "Mime constants are deprecated"
When using 2.2.1 with mime-types 2.6.2, this warning is printed:

[code]

[2015-10-05 11:07] gsamokovarov commented on #167
Yes, I've seen Aaron change that, but have been procrastinating the fix. Will do it now.

[2015-10-05 12:09] #167 closed

[2015-10-07 20:14] Serveurperso commented on #40
Same problem here please help

[2015-10-11 14:31] gsamokovarov commented on #125
This has been fixed by #162.

[2015-10-11 14:31] #125 closed

[2015-10-11 14:39] #103 closed

[2015-10-11 14:39] gsamokovarov commented on #103
I don't think this is an issue. If you have reasons to believe so, please reopen it with a bit more context of what's going on.

[2015-11-23 12:14] DannyBen commented on #141
Hey guys - piggybacking on this thread since its the same problem, maybe the docs could be clearer - I am still unable to make it work.

I have added this (all variations) in my `config/development.rb`
[code]

And in my `app/views/web_console` folder, I have tried placing any of these files
* style.css (as the README said)
* styles.css.erb (as appears in the templates source folder)
* styles.css (

[2015-11-23 13:11] gsamokovarov commented on #141
Thanks for taking the time to write this down @DannyBen, much appreciated. The correct one is `config.template_paths`. You have to end your style file `erb` like so: `style.css.erb`.

This makes sense. I'm open to changing it, as long as we don't break the backwards compatibility with the old flag.

[2015-11-23 13:37] DannyBen commented on #141
Hi @gsamokovarov - well, the name of the property is less critical than the fact it does not seem to work. Either I have done something wrong (and I think I have done whatever the documentation said), or there may be a bug.

I assumed I can take any file that exists in the templates source folder, and put it in MY template folder, and it will be picked up. This is my interpretation of the README i

[2015-12-27 18:41] aboltart opened #175 "With ruby 2.3.0 I got undefined symbol: rb_data_typed_object_alloc"
I installed latest **ruby 2.3.0**

and updated web-console to **3.0.0**

But I got following error from debug_inspector which is web-console dependency

[code]

[2015-12-27 19:51] gsamokovarov commented on #175
When do you get that? Have you recompiled all of the dependencies? You sure you are building the dependency with the proper Ruby headers?

[2015-12-28 05:48] aboltart commented on #175
False alarm. After removing all installed gems, and re-bunle all again all was fine.

[2015-12-28 05:48] #175 closed

[2015-12-28 11:55] gsamokovarov commented on #175
:+1:

[2016-01-05 08:54] gsamokovarov commented on #164
This should be fixed in `3.0.0`. Allow all of the IP's you see web-console blocking in the logs.

[2016-01-05 08:54] #164 closed

[2016-01-05 09:10] gsamokovarov commented on #50
Closing this one as stalled. Please reopen if it happens on `3.0.0`.

[2016-01-05 09:11] gsamokovarov commented on #116
Closing this one as stalled. Please reopen if it happens on `3.0.0`.

[2016-01-05 09:11] #116 closed

[2016-01-05 09:12] #50 closed

[2016-01-05 09:12] gsamokovarov commented on #34
Closing this one as stalled. Please reopen if it happens on `3.0.0`.

[2016-01-05 09:12] #34 closed

[2016-01-11 22:47] schneems opened #178 "REALLY hard to debug errors in web-console"
Hit a bug in web_console when trying to upgrade to Rails 5. It took me hours to figure out where it was coming from. This was the only thing in my logs:

[code]

This was what I was rendering in development mode:

![](https://www.dropbox.com/s/o9uhapo98btl9fb/Screenshot%202016-01-11%2016.46.34.png?dl=1)

Why was this happening? Web-console inserts itself right before `debug_exceptions` middleware

[2016-01-12 10:41] gsamokovarov commented on #178
I do feel your frustration. It gets tricky, especially when you don't suspect `WebConsole::Middleware` or `ActionPack::DebugExceptions` were the ones failing, because as you saw, there is no backtrace and you are in the dark.

---

I'll try to describe how Web Console works, so I can elaborate on the positioning:

When a request comes in, `WebConsole::Middleware` checks if it has to evaluate code

[2016-01-12 15:02] schneems commented on #178
The error I was seeing was fixed in master. The method signature of `ActionDispatch::RemoteIp::GetIP` changed along with the internal instance variable names, it was fixed https://github.com/rails/web-console/blob/0991238f6745e0f045edc40592ac09693bfd2f36/lib/web_console/request.rb#L32-L41.

FWIW I don't think we should over-write initialize without calling super. The names of instance variables ar

[2016-01-14 02:50] dwahyudi commented on #34
hi, thanks for the update...
i'm using 3.0.0 right now and the latest ruby version.

bug no longers happens. :+1:

[2016-01-16 07:47] #178 closed

[2016-01-25 22:48] jclark42796 opened #183 "config.middleware.insert_before "WebConsole::Middleware", "MyMiddleware" fails"
Not sure if this is a rack issue or web console issue or a "Jim" issue :).  Since this works:
development.rb:
```config.middleware.use "MyMiddleware"```
and this works
```config.middleware.insert_before "Rails::Rack::Logger", "MyMiddleware"```
but this doesn't
```config.middleware.insert_before "WebConsole::Middleware", "MyMiddleware"```
I'm posting to the web-console list.

[code]

[code]
This di

[2016-01-26 00:31] jclark42796 commented on #183
Perhaps this has not occurred yet?

railtie.rb
[code]

[2016-01-26 04:30] olivierlacan commented on #178
Repro was easy for me. Update Gemfile to Rails 5 beta1, then try to boot the app.

Even after `bundle update` it was still crashing the way @schneems showed. I noticed the only version specification I had left was `gem "web-console", "~> 2.0"`. Removed the `"~> 2.0"` and ran `bundle update web-console`, and everything worked after that.

So thanks for this issue and discussion. I would strongly re

[2016-01-26 09:14] gsamokovarov commented on #183
I guess this is the case. You may delay your custom middleware insertion or insert your middleware before `ActionDispatch::DebugExceptions`, like web-console does. Just curious, why do you wanna follow web-console's middleware in the chain?

[2016-01-26 09:14] #183 closed

[2016-01-26 09:16] gsamokovarov commented on #178
That's reasonable. Will try to put a 2.x patch release as well before the next Rails beta.

[2016-01-26 15:08] jclark42796 commented on #183
Thanks for the response.  We have a locked down server and can't get to the Rails console.  The plan is to have the web console available through a controlled admin page in production.  Since we have strict auditing requirements, we need to audit what is being done through the web console.  The thought was to have middleware that would look for the "X-Web-Console-Session-Id" header and "capture" t

[2016-01-26 15:16] gsamokovarov commented on #183
The REPL traffic is handled by the middleware as well. Please, think twice before using web-console in production. We have taken a lot of precautions to make this hard. (config switches, whitelisting, etc.)

[2016-01-26 15:39] jclark42796 commented on #183
Ah, you're right, I overlooked my debug output.   Thanks!

[2016-01-26 19:06] sgrif commented on #178
Just as a note, I've had about half a dozen cases of people asking me "why don't exceptions work in Rails 5" that were caused by this. We should definitely make sure old gemfiles will work before releasing

[2016-01-27 20:37] gsamokovarov commented on #178
I have released a new version ([3.1.0](https://github.com/rails/web-console/releases/tag/v3.1.0)) and a `~> 2.0` compatibility release ([v2.3.0](https://github.com/rails/web-console/releases/tag/v2.3.0)).

Sadly, people will still have to do `bundle update web-console` to get their exceptions up and running :disappointed: Hopefully, it's a bit easier with the compat release.

[2016-01-27 20:45] schneems commented on #178
Thanks for the release!

[2016-01-27 21:08] aar0nr opened #184 "Error when running rails console"
### Using:

* rails (4.2.5.1)
* web-console (3.1.0)

### Running:

```rails console```

### Outputs:

[code]

[2016-01-27 22:39] gsamokovarov commented on #184
Can you give us a bit more context? Are you sure `web-console` is the cause of that error?

[2016-01-27 23:17] aar0nr commented on #184
Yes, I created a brand new rails app, and when I update web-console to ```v3.1.0``` I am unable to start a rails console session via ```bin/rails console```. If I downgrade to ```v3.0.0``` it works fine.

[2016-01-27 23:22] joelmichael commented on #184
I am also sure it is the cause of the error.

[code]

[2016-01-28 02:58] kapso commented on #184
+1 getting the same issue

[2016-01-28 05:18] prathamesh-sonpatki commented on #184
@gsamokovarov A similar issue was reported on https://github.com/rails/rails/issues/23300. I created sample app - https://github.com/prathamesh-sonpatki/web-console-console-issue, please check.

[2016-01-28 05:33] Eric-Guo commented on #184
+1, I can confirm, it's due to web-console instead of Rails master branch, if using web-console v3.0.0, such error not happen, no matter using puma 2.16.0 or rails master, so must a bug between v3.0.0 and v3.1.0

[2016-01-28 05:49] Eric-Guo commented on #184
Confirm revert #182 will resolve this issue.

[2016-01-28 08:48] gsamokovarov commented on #184
Holy moly. Thank you folks for the investigation. I have a fix and will release 3.1.1 ASAP.

[2016-01-28 09:13] #184 closed

[2016-01-28 15:46] aar0nr commented on #184
Thank you @gsamokovarov , I appreciate the quick fix!

[2016-01-29 10:10] code4exploit commented on #183
Can any one remove me from this mail trails

On 26 January 2016 at 21:09, Jim Clark <notifications@github.com> wrote:

[2016-01-31 10:55] Svashta opened #186 "ERR_CONTENT_DECODING_FAILED"
Whenever web_console is rendered i am getting ERR_CONTENT_DECODING_FAILED inside Chrome. Haven't tried other browsers yet.

In rails log everything seems fine.

[2016-01-31 14:20] gsamokovarov commented on #186
Can you give me a bit more context? Do you have any gzip/deflate middlewares across the middleware stack?

[2016-01-31 16:06] Svashta commented on #186
I am using Rack::Deflater.
After commenting it out console works.

Is this normal? I mean, can't I use both?

Thx!

[2016-01-31 17:21] gsamokovarov commented on #186
See this section of the [README](https://github.com/rails/web-console#why-does-console-only-appear-on-error-pages-but-not-when-i-call-it).

[2016-01-31 17:21] #186 closed

[2016-02-18 11:43] slbug opened #188 "Web console NoMethodError exception"
<pre>
NoMethodError: undefined method `[]' for nil:NilClass
  from .rvm/gems/ruby-2.3.0@tt/gems/web-console-3.1.1/lib/web_console/middleware.rb:58:in `acceptable_content_type?'
</pre>

middlewares output:

- use Raven::Rack
- use Rack::Sendfile
- use ActionDispatch::Static
- use Rack::Lock
- use #<ActiveSupport::Cache::Strategy::LocalCache::Middleware:0x007ffe23f67650>
- use Rack::Runtime
- use Ra

[2016-02-18 11:47] gsamokovarov commented on #188
Can you give me a bit more context? What Ruby/Rails version are you using. When is this error happening?

[2016-02-18 12:03] gsamokovarov commented on #188
Could `use Raven::Rack` be the cause?

[2016-02-18 12:08] slbug commented on #188
Rails 4.2.5.1
Ruby 2.3.0

And yes, removing Raven::Rack resolves issue

[2016-02-18 12:28] gsamokovarov commented on #188
Can you give me the raven-ruby version as well?

[2016-02-18 12:28] #188 closed

[2016-02-18 12:28] gsamokovarov commented on #188
(Closing, as it doesn't seem to be Web Console related, will investigate the issue on the third party.)

[2016-02-18 12:30] slbug commented on #188
sentry-raven-0.15.5

[2016-02-18 13:45] slbug commented on #188
/cc @nateberkopec

[2016-02-25 08:21] arogachev commented on #133
In my case, I forgot to specify `RAILS_ENV=production` for `db:migrate` and `db:seed` commands.

[2016-03-07 16:51] alkuzad opened #190 "Production impact ?"
I was considering wrapping up authorization in addition to IP restriction to be able to use this on production. On develop better_errors is enough in most scenarios but on prod the visibility of all generated variables could be useful.

Is this solution light enough to use it on prod server ? I'm not interested in safety issues with that - I understand the implications of console access. Still wit

[2016-03-07 17:27] gsamokovarov commented on #190
I would strongly recommend against that, but if you really wanna do it, you can.

Make sure to set the `config.web_console.development_only = false` flag.

[2016-03-07 17:27] #190 closed

[2016-03-11 07:32] kovenko commented on #33
Gemfile
group :development do
  # Access an IRB console on exception pages or by using <%= console %> in views
  gem 'web-console', '~> 2.0'

  # Spring speeds up development by keeping your application running in the background. Read more: https://github.com/rails/spring
  gem 'spring'
end

$ bundle show web-console
/home/kvb/.rvm/gems/ruby-2.3.0/gems/web-console-2.3.0

$ bundle exec unicorn -E p

[2016-03-13 23:15] paulmenzel opened #191 "Support Ruby 2.1"
Is it intended that Ruby 2.2.2 is required? Would it be possible to support Ruby >= 2.1?

[code]

[2016-03-14 07:26] gsamokovarov commented on #191
Web Console 3 follows the Ruby requirements set by Rails 5. You can try the latest release of the [2.x](https://github.com/rails/web-console/releases/tag/v2.3.0) series.

[2016-03-14 07:26] #191 closed

[2016-03-14 07:42] sh19910711 commented on #148
I will write more information about this feature to #121 if it would be needed. Thanks.

[2016-03-14 07:42] #148 closed

[2016-03-14 09:04] paulmenzel commented on #191
Could you please update the README then, documented what version or branch is for what Ruby on Rails version?

[2016-03-14 09:59] gsamokovarov commented on #191
That, I did. I tried to be more specific about the version requirement.

[2016-03-14 10:05] aleksandra-stolyar commented on #33
the same..

[2016-03-14 10:07] gsamokovarov commented on #33
Are you guys keeping the web-console configuration in `config/application.rb`? If you do, the web-console gem is loaded only in development and the settings won't be present by it's railtie.

It's better if you keep the configuration in `config/environments/development.rb`.

[2016-03-14 10:20] paulmenzel opened #192 "Update requirements in Gem specification"
If I understand the answer #191 correctly, Web Console 3.x is for Ruby on Rails 5. If that’s the case, the Ruby on Rails version requirement should be updated in Gem specification `.gemspec`.

[code]

[2016-03-14 10:33] gsamokovarov commented on #192
I intentionally allowed that for the first `3.x` versions, without trying to offer any _explicit_ support for it, hoping for an easier transition to `3.x`. When Rails 5 is out of beta, I'll release a web-console version that explicitly depends on it.

[2016-03-14 10:58] aleksandra-stolyar commented on #33
@gsamokovarov ha! Thanks, worked!!

[2016-03-26 20:16] kovenko commented on #33
Gemfile
group :development do
  # Access an IRB console on exception pages or by using <%= console %> in views
  gem 'web-console', '~> 2.0'
end

Error present if app/config/application.rb include string like
config.web_console.whitelisted_ips = ['127.0.0.1','92.24.195.2','71.24.168.15','71.24.168.1']

[2016-04-01 08:10] brlo commented on #33
@kovenko if you connect gem like so (default):

[code]
you will get web-console only at development environment.

[2016-04-26 13:41] gsamokovarov opened #194 "Synchronize the exception traces and exception bindings"
During an error, the `ActionDispatch::DebugExceptions` error page tries displays the first `Application Trace` backtrace. Now, this is rarely the first backtrace and we (in Web Console) _always_ presume the binding we have to choose by default is for the first one.

This often put is in a situation where an error is raised inside of framework code that is invoked from an application code. The erro

[2016-04-27 08:37] sh19910711 commented on #121
Hi all,

I have been [accepted](https://summerofcode.withgoogle.com/projects/#5137031743143936) as a student in the Google Summer of Code 2016 again this year (under the ruby-org). In this summer, I will be working on three things with the @gsamokovarov's help:

* ___Auto-completion___
* ___Console fired from "anywhere"___
* ___Built-in commands___

The last year, I have developed a prototype of a

[2016-05-16 19:35] augustosamame commented on #40
Same problem here. Forced to copy paste brackets and braces until fix

[2016-05-31 16:26] dhh opened #199 "Binding is wrong in 3.1.1"
![image](https://cloud.githubusercontent.com/assets/2741/15682258/1f401420-275d-11e6-9735-7d0391a4eebe.png)

The binding in the console is inside the Post object, rather than at the callsite. And it doesn't change when you navigate the backtrace lines.

[2016-05-31 18:10] gsamokovarov commented on #199
We're trying to tackle that with PRs like #198. We used to always select the very exception binding for code evaluation, while we're showing the first `Application Trace` as the more interesting code snippet in the Rails error pages. WIth #198, we tried to pick the binding of one of the `Application Trace` and with a future PR we'll try to better map bindings with traces, as we currently have more

[2016-05-31 19:24] dhh commented on #199
Excellent, thanks! Wanted to show off web-console in the new intro video, and just got a little stumped on this.

[2016-06-06 20:27] gsamokovarov commented on #199
David, I have release `3.2.0` which will choose the binding of the snippet we actually see on the error page. While we still have some work to do to make sure we always choose the proper binding if you navigate the stack trace (by better mapping the traces from their `__FILE__` and  `__LINE__` instead of their indexes), I'm closing this one for now. I think the biggest show stopper for `web-consol

[2016-06-06 20:27] #199 closed

[2016-06-19 13:51] oslyak opened #204 "Update from web-console 2.2.1"
I have rails 4.2.6 app

When I use web-console frozen to 2.2.1 everything works perfectly.
But when I try to upgrade web-console to any newest versions.
Even in development mode, when I made some mistake, I only see message: "500 Internal Server Error
If you are the administrator of this website, then please read this web application's log file and/or the web server's log file to find out what wen

[2016-06-20 06:42] gsamokovarov commented on #204
Did you do `bundle update` for the upgrade? `web-console` may be locked in your `Gemfile`. Can I see the `web-console` version in your `Gemfile.lock`?

[2016-06-21 09:10] oslyak commented on #204
Yes, now I locked web-console on version 2.2.1, because I have troubles with new versions: Whe I install newest version, and make some mistake in code of my project, I only see message:  "500 Internal Server Error
If you are the administrator of this website, then please read this web application's log file and/or the web server's log file to find out what went wrong."

Without stack trace info.

[2016-06-27 20:33] lebart commented on #204
Hello,

I face the same bug, I have to revert back to version 3.1.1

[2016-06-28 08:12] gsamokovarov commented on #204
Thanks for the reports, will look it up.

[2016-06-28 09:47] gsamokovarov commented on #204
@lebart what ruby version are you using?

[2016-06-28 12:06] lebart commented on #204
@gsamokovarov I'm using 2.2.3, should I test different versions ?

[2016-06-28 13:48] gsamokovarov commented on #204
I'm asking because I dropped Ruby 1.9 support, so we can use newer Ruby API's and drop `binding_of_caller`. I'm not being able to reproduce the error on a clean rails 4.2.6 app, do you have any exception notifiers in your gem file? It may be that multiple gems are monkey patching `ActionDispatch::DebugExceptions` and they are changing it's interface.

[2016-06-28 18:22] lebart commented on #204
I didn't see a gem that could interfere at this level but to be sure here are the gems I'm using:

[list of gems](http://paste.ubuntu.com/18043068/)

[2016-07-04 16:19] connorshea commented on #192
@gsamokovarov now that Rails 5 is out do you still intend to depend on it?

[2016-07-05 08:10] gsamokovarov commented on #192
Yeah, I don't support Ruby 1.9.3 anymore pushed for some artificial 4.2 support while Rails 5 was still in beta. Release `3.3.1` that bumped the gemspec Rails requirement to 5.0.0 and above.

🍻

[2016-07-05 08:10] #192 closed

[2016-07-07 17:18] agustaf9 opened #206 "Pressing the backspace key while in the web console causes the page to go back."
With the recent update to chrome an extension is required to use backspace to go back. Using that extension causes backspace to go back even when typing in the web-console. This problem also occurs when using the Vivaldi web browser without the extension.

[2016-07-08 09:38] gsamokovarov commented on #206
Pinging @sh19910711 here.

[2016-07-10 02:01] sh19910711 commented on #206
I'm not sure what is a critical problem yet, but I'm facing with a similar problem when I create auto-completion feature of web-console in #205. However, I think my case might be more natural as a browser's behavior because it was caused after typing TAB key.

@agustaf9 Could you please give us more details? It would be helpful if we could know about your extension names, situations or something e

[2016-07-11 19:23] agustaf9 commented on #206
[This](https://github.com/oslego/chrome-backspace-back/blob/master/contentscript.js) is the extension I am using for chrome.

[2016-07-12 01:41] sh19910711 commented on #206
@agustaf9 Thanks for the information.

[2016-07-14 21:56] swalkinshaw opened #209 "Replace development_only option with a whitelist"
A Rails app I work on has a `local` environment which is basically a copy of `development`.

I just ran into the warning/error about `development_only` and realized an explicit whitelist may be an improvement over it.

Before:

[code]

After:

[code]

Right now it's either `development` only or **all** environments which isn't great for security.

If there's any interest in this, I'd be happy to d

[2016-07-15 16:12] oslyak commented on #204
I found the place!!!

In version 2.2.1 or lower everything works perfectly.

But if update to newest version and set application.rb

 config.action_view.raise_on_missing_translations = true

Then if you have mistake in your code even in development mode you will see:"500 Internal Server Error
If you are the administrator of this website, then please read this web application's log file and/or the

[2016-07-18 07:41] gsamokovarov commented on #209
I'm a bit hesitant about it as people can use it to safelist `staging` or `production` and we're always advocating against it. But hey, it can be done right now as well, so why not give a bit more control. Will try to get it in a future release.

[2016-07-18 08:44] gsamokovarov commented on #111
I'm closing this PR as stale. It's been awhile, it the issue still persists with the newer rubies, please feel free to reopen it.

[2016-07-18 08:44] #111 closed

[2016-07-21 04:29] obromios opened #212 "Capitalisation of first letter in the IOS simulator"
When a ruby on rails page is being viewed in a webview in the xcode ios simulator, if the rails code hits and exception, then web-console opens as usual. This pretty neat, except that the first letter of anything you type into the console is capitalised.  This makes it hard to type any commands into the console, unless they start with a capital letter e.g. a class name.

Is this possible/worth fix

[2016-07-21 08:34] gsamokovarov commented on #212
Will look it up.

[2016-08-11 08:25] manavortex opened #218 "Console not rendering on remote server"
Hey there,

my issue is as follows:

`INFO  Rails : Cannot render console from 172.20.10.254! Allowed networks: 172.20.10.254, 127.0.0.0/127.255.255.255, ::1`

Help? :D

[2016-08-12 05:41] gsamokovarov commented on #218
Which `web-console` version are you running on? You may need to whitelist both `192.168` and `172.` for docker containers or vms.

[2016-08-12 10:57] manavortex commented on #218
Hello there,

I'm using web-console (3.3.0) and Rails 4.2.7.

Funny thing is, today I'm logged in remotely, and suddenly it works. I'll be in the other network again on monday, will keep you posted from there!

Thank you for your help!

[2016-08-12 14:33] gsamokovarov commented on #218
Whitelist both of the networks it's in. We check all of the networks to be sure the IP isn't from a spoofed` X-Forwarded-For`.

Hope this works for you! I'm gonna close it for now, feel free to reopen if you still can't access the console.

[2016-08-12 14:33] #218 closed

[2016-08-22 21:06] augustosamame opened #220 "Incorrect I18n.locale being shown"
Hello. For some reason, the value of I18n.locale does not match the actual value being set in the controller and properly shown in the view.

When setting the locale in the controller to :es for example, the view renders the correct translations, but the web console for the view still returns :en (the default) when I18n.locale is queried.

Is there any limitation of web console regarding I18n.loca

[2016-09-11 14:00] okuramasafumi opened #222 "JRuby link to runtime in README is broken"
It looks like `JRuby` section in `runtime` part was removed entirely recently. Should we delete the link, or restore the `JRuby` section?

[2016-09-11 19:55] gsamokovarov commented on #222
Definitely, sorry for the confusion.

[2016-09-22 15:51] catmando opened #223 "how to use pry with web-console?"
I see the pry adapter is deprecated.  It sounds like its "easy" to use pry with webconsole... how?

[2016-09-22 15:56] catmando opened #224 "how to make webconsole take all of the page:"
for example:

[code]
Is there some way to get the console to take the entire (or most) of the page instead of the bottom quarter?

FYI this is a GREAT gem... thanks!

[2016-09-23 15:52] mjhoy commented on #223
I'm not exactly sure about how to get pry running in the web console itself. But if you add `pry` to your gemfile's development dependencies, and then type `binding.pry` in the web console, you will have access to a pry session in the shell where you run `rails server`.

[2016-09-24 04:33] gsamokovarov commented on #223
`web-console` started as a Google Summer of Code project back in 2013! Since we didn't had a clear vision of what we really wanted it to do at that time, we prototyped a couple of ideas. You can [see](https://github.com/rails/web-console/tree/v0.1.0) [how](https://github.com/rails/web-console/tree/v1.0.4) web-console got to its [current](https://github.com/rails/web-console/tree/v3.0.0) shape. The

[2016-09-24 04:33] #223 closed

[2016-09-24 04:34] gsamokovarov commented on #224
We never intended it to be used that way, but you can resize it by dragging the top of it with the mouse.

[2016-09-24 04:34] #224 closed

[2016-09-25 17:04] rempargo opened #225 "web-console"
if you want to have web-console on all pages during development (adding `<%= console %>` to your application.html.erb) you will notice it will not work for any controllers that have included the following line:

`include ActionController::Live`

[2016-10-12 20:53] wgrrrr commented on #204
I am seeing the same behaviour this issue describes. Here is a snippet of a backtrace which may help:
[code]

[2016-10-14 18:14] catmando opened #226 "every other load crashes due to no content-type in header"
I have the following controller code within a rails engine:

[code]

every other load of the console will fail... I tracked it down to there being no Content-Type in the header, which is checked by `acceptable_content_type?`

Run 1 (works) the header passed to `acceptable_content_type?` looks like this:

[code]

run 2 it looks like this:

[code]
I tried to fix it with this patch:
[code]

This I th

[2016-10-15 09:50] gsamokovarov commented on #226
This is interesting, I'll look it up. Just curious, what does your `rake middleware` show?

[2016-10-15 14:11] catmando commented on #226
[code]

[2016-10-25 22:43] mlt commented on #204
I have the same issue as @wgrrrr and same versions.

[2016-10-26 09:16] gsamokovarov commented on #204
Can you give me a bit more context? I'll try to track this down.

[2016-10-27 19:11] mlt commented on #204
@gsamokovarov Just a heads up... This is really odd. I was about to make a minimal reproducible example... and I failed at it. Brand new app with `rails _4.2.7_ new tmp` followed by bumping web-console to 3.3.0, works fine (at least on Windows). I'll try to narrow things down on my end.

[2016-10-27 19:56] gsamokovarov commented on #204
@mit if you can get something reproducible, this will be of huge help!

[2016-10-28 14:13] mlt commented on #204
@gsamokovarov I think I tracked it down to [this](https://gist.github.com/johnbintz/4684194#file-config_environments_development-rb-L3). I wanted live reloads and easier set up while being able to use foreman and see all logs dumped into console so I didn't notice when it broke down. So I guess in my case, it is not web-console to blame :-) Now I'm not even sure I actually need/want foreman.

[2016-10-28 15:06] wgrrrr commented on #204
Interestingly, I have `config.logger = Logger.new(STDOUT)` in my `development.rb`. I don't use Foreman though, I have a Docker based containerized development environment that is orchestrated with docker-compose.

[2016-10-28 15:08] gsamokovarov commented on #204
This do explains it. I'll handle the case in the next released version, for now, you can fix the error by setting an `ActiveSupport::Logger`  instead of the plain Ruby stdlib one.

[2016-10-28 15:28] mlt commented on #204
I was not sure whether it was the problem @oslyak and @lebart had, but 2.2.1 does work alright with whatever logger. So I think everything is consistent. Thanks for the workaround!

[2016-10-29 10:02] #194 closed

[2016-10-29 10:03] gsamokovarov commented on #225
We don't support streaming.

[2016-10-29 10:03] #225 closed

[2016-10-29 10:03] #204 closed

[2016-10-29 10:04] gsamokovarov commented on #204
`3.4.0` is released. I'm closing this thread as it's getting a bit general. If you have issues with `3.4.0`, please open more concrete issues.

[2016-10-29 10:21] #226 closed

[2016-11-04 08:17] pboling opened #227 "Does not allow additional local development environments"
Well, it allows it, but you have to turn off the protection that helps you not accidentally load it in Prod.  We can do better.

There are many reasons why people would have multiple, or differently named, environments for development locally.  I wrote a gem that facilitates this: [rails_env_local](https://github.com/pboling/rails_env_local) because in breaking from the traditional `development` n

[2016-11-07 15:54] bsylvain commented on #40
I use an azerty keyboard, and 'alt gr' modifier to use chars such as ~#{[|` does not work in chrome 54. However, it works in Firefox 49.

[2016-11-19 22:14] wflanagan commented on #204
It seems in 3.4.0, which fixes this problem, only compatible with Rails 5.0 upward?  What about "legacy" 4.2.7+ applications?

[2017-01-22 23:10] raghubetina opened #229 "web-console interfering with live reloading of code?"
Hi all,

In some cases, it appears that using the web-console interferes with live reloading of code.

[Here's a brand new app that demonstrates the issue.](https://github.com/raghubetina/web-console-reloading#web-console-live-reloading-bug-demo) (Rails 5.0.1, Ruby 2.3.3) It has only one action, which has a web-console embedded at the bottom of its view.

If I modify some code and refresh *without

[2017-01-23 12:52] gsamokovarov commented on #229
This is an interesting issue, we haven't stumbled upon it until now. Let me investigate a bit and I'll get back to you. Thanks for the reproducible application!

[2017-01-23 19:30] raghubetina commented on #229
I forgot to mention that I also tried removing turbolinks, and was still able to reproduce the issue after doing so.

Thanks for taking a look!

[2017-02-26 00:32] likelazyeyes opened #231 "Disable render blocking exept whitelist ips"
This is need to accept all ips to render web-console. Because we can not know which ip is used as socket on cloud development machines. Ex: codenenvy, cloud9! Because each "rails s" the socket ip is changing. I need to allow all ip addresses in development environtment.

[2017-02-26 09:32] gsamokovarov commented on #231
You can whitelist a whole network for cases like this, see the README:

---

[code]

[2017-02-26 09:32] #231 closed

[2017-03-02 01:13] JMasschelein commented on #133
@yuki24 This indeed worked. Thx !

[2017-03-23 14:38] betesh opened #235 "run_load_hooks is running too early to be useful"
`Activesupport.run_load_hook` runs [here](https://github.com/rails/web-console/blob/2bf42d0b2d5e928b7907cfa8c42505b2cd12a3b2/lib/web_console.rb), which is loaded by `Bundler.require`.  So it actually runs before the `before_configuration` hook and before any initializers.

This is inconsistent with any other Rails components, which (when initializers make use on `ActiveSupport.on_load` correctly)

[2017-03-23 15:11] gsamokovarov commented on #235
The AS hook has been there the [very beginning](https://github.com/gsamokovarov/web-console/blob/v0.1.0/lib/web_console.rb#L6) of the project, but I don't think the hook is useful. My sloppy [GitHub search](https://github.com/search?utf8=%E2%9C%93&q=ActiveSupport.on_load%28%3Aweb_console%29+extension%3Arb&type=Code) doesn't show anything public using it, but it could be possible for something priv

[2017-03-23 20:54] rafaelfranca commented on #235
I think it make sense to remove. I don't see why it was being defined.

[2017-03-23 23:35] betesh commented on #235
Closed in favor of PR #236

[2017-03-23 23:35] #235 closed

[2017-03-26 07:53] bovender commented on #206
I am facing the same problem. Any solution in sight?

[2017-03-27 14:41] likelazyeyes commented on #231
But it is not enough. Cloud ides are changing ip when restarted. And there no standart for calculate an ip range

[2017-04-12 06:18] leoamigood opened #238 "Whitelist IP is incorrectly matched"
# version 2.3
  config.web_console.whitelisted_ips = %w(127.0.0.1 172.0.0.0/8)
  config.web_console.development_only = false

Cannot render console from 172.56.17.176! Allowed networks: 127.0.0.1, 172.0.0.0/172.255.255.255, 127.0.0.0/127.255.255.255, ::1

[2017-04-12 08:50] gsamokovarov commented on #238
Are you using `docker` or `vagrant`/`virtualbox`? You may wanna whitelist `192.168.0.0/16`, because to get to the console, you still need to go through that network. You may wanna upgrade to `web-console 3.x` series, a lot of issues have been fleshed out from `2.3`.

[2017-04-12 16:42] leoamigood commented on #238
I am using Heroku. Locally i've tested it with Docker, had no issues.
Also, it seems like 3.x is not compatible with rails 4.2 that I am running.

[2017-04-13 03:28] leoamigood commented on #238
once i allowed 0.0.0.0/0 it actually worked.
So the question is: how come message about render console is showing wrong IP? (i guess there is more to it)

[2017-04-13 06:06] gsamokovarov commented on #238
See #171. You can install Web Console up to `3.3.0` on Rails 4.2, so I would suggest you to do that.

[2017-04-13 06:06] #238 closed

[2017-04-19 09:08] purinkle opened #239 "web-console is swallowing up errors"
Since updating web-console to 3.5.0, when an error is raised in the Development environment, we get the "Oops! Something went wrong" message in the browser. We were expecting to see some sort of stack trace. When looking in the development logs there is no relevant message either. I have gone through the commits added by the release and it seems to be caused by https://github.com/rails/web-console

[2017-04-19 11:44] gsamokovarov commented on #239
Thank you for the report! Do you have a small reproducible app, so I can dig in a bit further?

[2017-04-19 11:50] gsamokovarov commented on #239
We have tried to make the errors more verbose when web-console crashes in https://github.com/rails/web-console/pull/181, I'll take a look on that front as well.

[2017-04-20 11:20] gsamokovarov commented on #239
@purinkle Can you try `master` and see if that solves your problem?

[2017-04-28 20:09] aguynamedben opened #240 "Uncaught ReferenceError: REPLConsole is not defined"
I'm trying to switch my project from better_errors to web-console. When I install web-console 3.5.0 and try to use `<% console %>` or generate an error page, the error page shows up without any REPL available. In my JavaScript console I see this error:

`Uncaught ReferenceError: REPLConsole is not defined`

It looks like REPLConsole is a JavaScript library downloadable via NPM. I don't see anythin

[2017-04-28 20:19] aguynamedben commented on #240
A bit more information: I'm on Rails 5.0.0.1, so my rails development server is Puma:

[code]

[2017-04-29 14:16] gsamokovarov commented on #240
Hey, it should just work. Can you give me a bit more context? Maybe what kind of gems you have installed and the full browser console log?

[2017-05-11 09:16] Frexuz commented on #206
Same, with that extension :(

[2017-05-12 06:50] spdawson commented on #239
I can confirm that pointing to `master` resolves the issue in my application

[2017-05-12 10:35] gsamokovarov commented on #239
I have released `3.5.1`. Please reopen the issue if you still run into problems.

[2017-05-12 10:35] #239 closed

[2017-05-13 09:57] thiensubs commented on #178
After I upgrade Rails from 5.0.2 to 5.1.1, it not working and always appear errors:
No such middleware to insert after: "ActionDispatch::DebugExceptions"
I was upgrade web-console to 3.5.1 but it still not working.
Here my track:
[code]
Can you help me?

[2017-05-14 07:35] gsamokovarov commented on #178
@thiensubs can you give me a bit more context when this error is happening? Is it during the application boot? Do you have any specific configurations about handling errors?

[2017-05-14 16:55] thiensubs commented on #178
Here is my Gemfile
[code]
This issue appear when I starting app or using any command rake like: rake routes, rake middleware...
I only upgrade Rails app from Rails 5.0.2 to Rails 5.1.1 .

[2017-05-14 16:59] gsamokovarov commented on #178
Do you have any specific middleware configuration?

[2017-05-14 17:10] thiensubs commented on #178
In congfig/application.rb I was using
[code]
But when error appear, I comment 2 lines, and don't use any rake middleware, but it still error.

[2017-05-14 18:46] gsamokovarov commented on #178
@thiensubs This is not a web-console issue. Rails [removed support for passing strings in `config.middleware.methods`](https://github.com/rails/rails/commit/1b975e6a696655f476b10a4567b537cc92077563) and you are using an old version of [`airbrake`](https://github.com/airbrake/airbrake/blob/v4.3.8/lib/airbrake/railtie.rb#L23-L26) that still uses that unsupported API. You can upgrade your `airbrake`

[2017-05-14 19:02] #222 closed

[2017-05-15 00:38] thiensubs commented on #178
@gsamokovarov Thanks for your answer.
I mostly research in 16 hour (about 2 days) in google. In next time I will research more time.
One again, thanks so much for my issue.

[2017-05-17 14:49] bknarendra opened #241 "Support Rails 5.1"
`web-console (~> 3.5.1) was resolved to 3.5.1, which depends on
      activemodel (>= 5.0)`

[2017-05-17 15:25] #241 closed

[2017-05-18 19:26] aguynamedben commented on #240
@gsamokovarov Thanks for taking a look at this. I upgrade to Rails 5.1.1 and web-console 3.5.1, and I'm still seeing this.

When I insert `raise "wat"` into the first line of a controller action:

![action_controller__exception_caught](https://cloud.githubusercontent.com/assets/107841/26219527/2a2cf494-3bc4-11e7-92b6-e6c11bb969af.png)

When I insert `<% console %>` into a view:

![action_controlle

[2017-05-18 19:44] aguynamedben commented on #240
More digging in Safari, which seems to provide better errors:

![action_controller__exception_caught_and_uncaught_referenceerror__replconsole_is_not_defined_ _issue__240_ _rails_web-console](https://cloud.githubusercontent.com/assets/107841/26220296/f1beb37e-3bc6-11e7-839c-e33e62644105.png)

The first error, `SyntaxError: Unexpected EOF` points to this section of the code:

![action_controller__ex

[2017-05-18 21:53] aguynamedben commented on #240
I just looked at this for 2 hours and I think it might be a regression with Rails 5.1.

The problem is that the gem ends up outputting JavaScript onto the page that has a line break in it, which is not supported by JavaScript. That results in the `SyntaxError: Unexpected EOF` error. See lines 4160 through 4170 in my screenshot above referencing "the first error". As the gem renders `consoleInnerHt

[2017-05-19 14:24] gsamokovarov commented on #240
@aguynamedben thanks for the investigation. I'm pretty curious why this happens only to you know. I would have expected a lot more reports about that. Is your `Gemfile` sensitive? Can you publish it somewhere?

[2017-05-19 17:57] aguynamedben commented on #240
@gsamokovarov It's for a private project, so I just emailed it to you. I'll post any further updates to this thread though. Thanks for helping me look into it.

[2017-05-28 14:41] renchap opened #242 "Strict Content Security Policy breaks web-console"
For more informations and context about CSP: https://csp.withgoogle.com/docs/strict-csp.html

I have a quite strict CSP header on my website, using the [secureheaders](https://github.com/twitter/secureheaders) gem:

```default-src 'self'; base-uri 'self'; block-all-mixed-content; child-src 'self' blob: localhost:8080; connect-src 'self' ws://localhost:8080 http://localhost:8080 ws://localhost:3000

[2017-05-28 15:28] gsamokovarov commented on #242
I like the way we currently inject the console, as it's quite portable. It does not depend on the asset pipeline and we can show it mostly everywhere without issues. Your case being the exception here.

For sure, I would like to support it, if it's not too disruptive to what we currently have. Can you explain the second option you proposed in a bit more detail? I don't think I want to pursue eithe

[2017-05-28 15:53] renchap commented on #242
Sure!

With CSP, you can specify a nonce in your CSP header. In my policy above, this is the `nonce-devOnly` part in `script-src` and `style-src`.

It means that `<script>` and `<style>` tags are allowed if they specify this nonce, even if they are not from any other authorised origin, as long as they have a `nonce="devOnly` attribute. This is true for inline scripts/style, so you can still use:

[2017-05-28 18:30] gsamokovarov commented on #242
Looking at the spec, this nonce should be unique across requests, right?  [Secure Headers](https://github.com/twitter/secureheaders/blob/fd559f2acc591c04e0c9563e3f9e857e7ce6e6c9/lib/secure_headers.rb#L267-L275) seems to set per-request nonce in a place where we can get it, so you can still set it as the `web-console` one if we had exposed a way for you to control it.

That said, the above may not

[2017-05-28 18:55] renchap commented on #242
It looks like I indeed made a mistake and most of the work needs to be done on Rails error page. I thought it was generated by `web-console`, my bad. I will open a ticket with Rails on the topic.

For the nonce, it should be unique per request in production. This is why the configuration for the nonce should accept a block, so you can dynamically provide the nonce.

In my case, I am using a static

[2017-06-06 18:33] AmanShurafa opened #243 "NameError: uninitialized constant Mime::HTML"
acceptable_content_type? is generating this error:

[code]

Ruby 2.4.0 & Rails 5.1.0

[2017-06-06 18:57] gsamokovarov commented on #243
Update `web-console` to the latest version. Beware that just `bundle update web-console` may not work if you have an explicit version constraint in the `Gemfile`. Removing it should let you `bundle update web-console`. Rails 5 is using`Mime` version that is incompatible with `web-console` v2 series.

[2017-06-06 18:57] #243 closed

[2017-06-06 20:34] agustaf9 commented on #206
[This](https://chrome.google.com/webstore/detail/go-back-with-backspace/eekailopagacbcdloonjhbiecobagjci) extension works.

[2017-06-23 09:15] Erowlin commented on #121
Any news on that one? :)

[2017-06-24 09:28] sh19910711 commented on #121
Nothing for now :-| but I'll be back :+1:

On Fri, Jun 23, 2017 at 6:15 PM, Thomas Romera <notifications@github.com>
wrote:

--
Hiroyuki Sano
sh19910711@gmail.com

[2017-06-26 10:01] Erowlin commented on #121
Thanks @sh19910711. I may take a look and start something (Unless you already did?)

[2017-06-26 11:01] gsamokovarov commented on #121
We haven't worked on them in a while, but the code we have is at: https://github.com/rails/web-console/tree/master/extensions

[2017-07-03 19:59] matthaliski opened #245 "Console presence interferes with instance variables"
Okay, this is an odd one. And I'm not even really sure how to go about describing it so I created this gif. (Sorry for the quality. Didn't want a 100mb gif)

![example](https://github.com/matthaliski/foo/blob/master/web-console-example.gif?raw=true)

**Summary** - swapping an instance variable value works *without* the console present, but becomes very inconsistent *with* the console present.

**L

[2017-07-04 12:16] gsamokovarov commented on #245
Hey, thank you so much for the detailed report! I'll take a look and get back to you with what may be causing this behaviour.

[2017-07-04 14:12] matthaliski commented on #245
Thanks Genadi. I appreciate the help. It's a weird one.

[2017-08-20 08:54] sh19910711 opened #247 "Lightning talk about the web-console project in RubyKaigi 2017 (Japan)"
Hi all, # cc: @dhh

Just a minor issue, it seems that my proposal for [RubyKaigi 2017 LT CFP](https://cfp.rubykaigi.org/events/2017LT) has been accepted, and I would talk about my GSoC projects for the web-console in the lightning talk session (e.g., browser extensions and auto completion feature). So yeah, it would be comming a chance that we can introduce the ***rails/web-console*** project to t

[2017-08-20 20:12] gsamokovarov commented on #247
This is awesome! I value your contributions a lot and you have helped `web-console` development tremendously. 🙇🏼

Good luck with the talk. ❤️

[2017-08-20 20:12] #247 closed

[2017-08-20 20:13] #121 closed

[2017-10-21 21:17] raghubetina commented on #229
Hi all, I was just wondering if anyone else is experiencing this issue? It is still occurring for us.

[2017-11-04 15:44] raghubetina commented on #245
I believe this is the same issue as #229. Weird one indeed!

[2017-11-04 15:51] matthaliski commented on #245
@raghubetina - yup, sounds identical.

[2017-11-04 21:16] raghubetina commented on #245
To add to the mystery: it doesn't appear to be limited to instance variables.

Here's an example where all I do in a brand new Rails app is print a value to the server log, and after one or two refreshes, changing the value to be printed does not have any effect.

Even weirder, the `object_id` of the controller instance _is_ changing:

![reloading](https://user-images.githubusercontent.com/811217/

[2017-11-07 19:38] eimhin commented on #229
I'm experience this issue as well.

[2017-11-30 23:34] guilleiguaran commented on #242
This seems relevant again now that Rails includes a CSP middleware by default.

[2018-02-02 13:25] eanders commented on #240
I'm seeing the same issue on Rails 5.1.4 the fix above works: https://github.com/aguynamedben/web-console/commit/73d0cd03cd6f88f8bd60d77a9361b8945be3be96

[2018-02-09 04:15] maxexcloo opened #252 "No Page Content Showing"
I'm working on a rails project and I'm stumped, the web console shows up when I attempt to manually include it using <% console %> but the page content disappears, I've been googling around and haven't had any luck.

This is what the result looks like: https://i.imgur.com/WSVdXuf.png

My Gemfile: https://gist.github.com/anonymous/d2dc9e7c5438acfcb4ff2746b71a711b

[2018-02-09 10:00] gsamokovarov commented on #252
Can you show the contents of the `View Source Page` option from your browser? Since the web-console augments your page with it'\s own HTML/CSS/JS content, if you have unclosed tags before, that may interfere with your content.

[2018-02-09 10:06] maxexcloo commented on #252
I won't be at a computer for a day or so but it's basically just the web
console code, nothing else (headers and footers and layout all gone, very
bizzare!)

On Fri, 9 Feb 2018 at 21:00, Genadi Samokovarov <notifications@github.com>
wrote:

[2018-02-12 04:27] maxexcloo commented on #252
[code]

[2018-02-12 04:28] maxexcloo commented on #252
If I remove the `<% console %>` tag, everything returns to normal.

[2018-04-10 15:30] gsamokovarov commented on #40
Please feel free to chime in and I'll reopen if this issue is still present in the upcoming `3.6.0` release.

[2018-04-10 15:30] #40 closed

[2018-04-18 05:29] siman-man commented on #252
I encounted same problem too.

I think this issue reason is implementation changed from `Rack::Response` to `WebConsole::Response` in #162.

I don't know what expected type of `WebConsole::Response#body`. but if body is `Rack::BodyProxy` object, content dosen't display well. (unfortunately, I don't know well about the case where `Rack::BodyProxy` is passed.)

temporary workaround the following see

[2018-04-18 09:40] gsamokovarov commented on #252
@siman-man can you reproduce this in a simple rails app or give a bit more context about your experience with this issue?

[2018-04-18 14:37] gsamokovarov commented on #252
@siman-man is the `Gemfile` standard? Can I see it?

[2018-04-18 15:54] siman-man commented on #252
@gsamokovarov

This is my Gemfile and Gemfile.lock. (it's seem to Standard)

<details>
<summary>Gemfile</summary>

[code]

</details>

<details>
<summary>Gemfile.lock</summary>

[code]

</details>

[2018-04-18 19:46] #252 closed

[2018-04-18 19:47] gsamokovarov commented on #252
@siman-man thanks for the hints, I was able to reproduce the issue and fix it. Will release `3.6.1` tomorrow morning.

[2018-04-27 14:15] webdevsimon opened #256 "Runtime error rails web console"
On previous versions, the web console would appear when an error was raised. This doesn't appear to be the case on rails 5.0.0

[2018-04-27 15:13] gsamokovarov commented on #256
You may try Stack Overflow for questions about your upgrade procedure. If you have more context and details for this issue, I can reopen it.

[2018-04-27 15:13] #256 closed

[2018-04-28 21:02] interludedesign commented on #256
Hi @gsamokovarov

I'm running into the same problem.

OS X 10.13.4
Ruby 2.5.1
Rails 5.2.0
web-console 3.6.1

I started a new Rails project, added a 'Todo' scaffold, and raised an exception from the index action:
[code]

The standard Rails error page renders but the web-console does not.

<img width="1349" alt="screen shot 2018-04-28 at 1 52 20 pm" src="https://user-images.githubusercontent.com/716

[2018-04-28 21:50] interludedesign commented on #256
Never mind, PR https://github.com/rails/web-console/pull/255 looks to be addressing this issue already. I pulled in the change and it works.

[2018-04-29 08:12] gsamokovarov commented on #256
Will get #255 merged soon and roll a new release afterward. Thanks for the reports! 🙇‍♂️

[2018-05-15 09:00] causztic opened #260 "Resizing the web-console past 100% of the screen prevents it from being resized again"
Basically you can resize the console window all the way up, past a certain point where it is impossible to select and drag the top edge.

<img width="1440" alt="screen shot 2018-05-15 at 4 40 47 pm" src="https://user-images.githubusercontent.com/2081441/40047189-69f70848-5861-11e8-9614-4cdf52cfb300.png">

(the entire screen is covered by the console)

[2018-07-02 14:23] danilolimadutra opened #264 "Web Console don't show on Run time error page"
Hi,

On Development Enviroment the web console works fine when I put _<%= console %>_ in any page. But, don't show on run time error page.

**Error page without webconsole:**
![run time error page](https://user-images.githubusercontent.com/30134725/42169180-5ca1d260-7de9-11e8-966e-e637b2306fac.png)

**Page with web console:**
![web console](https://user-images.githubusercontent.com/30134725/421694

[2018-07-02 18:09] gsamokovarov commented on #264
Can you show me the `web-console` version in the `Gemfile.lock` file? I think we may have regressed for Rails 5.1 and below in the latest release.

[code]

[2018-07-04 01:36] danilolimadutra commented on #264
I updated the Gem to version 3.6.2 and problem solved.

[2018-07-04 01:36] #264 closed

[2018-08-29 10:12] djdon11 opened #266 "Unable to run in production mode on heroku server"
I have an application which is deployed on heroku and for some reasons I want to enable web console there.
This is the setup details:
In Gemfile
ruby '2.3.0'
rails 4.2
web console 3.3.0

in Application.rb
 config.web_console.development_only = false
 config.web_console.whitelisted_ips = [MY IP ADDRESS]

When I tried to run on local with production env it is working fine even when I add other machi

[2018-10-22 15:42] justinbkay opened #268 "web console not showing up on error page"
I have a app that has been upgraded from rails 1.2 all the way to rails 5.2 over the years.  I have included the web-console gem in the project, but it doesn't  display on the error pages.

Gemfile:
...
gem 'web-console', '>= 3.3.0'
gem 'byebug', platforms: [:mri, :mingw, :x64_mingw]
...

Any help would be appreciated.

[2018-10-22 17:16] justinbkay commented on #268
If you use Vagrant for development, you'll need to add a ip whitelist for console to work properly.  Look for the console cannot be rendered error in your server log output.

[2018-10-22 17:16] #268 closed

[2018-10-22 18:39] gsamokovarov commented on #268
Glad it worked out for you!

[2018-10-22 18:53] gsamokovarov commented on #266
Did you figure it out? I'd strongly urge you to reconsider the production `web-console` usage.

The error is because the IP request is proxied to the heroku dyno, and we do a few security checks on-top to make sure we can trust the address. You may need to whitelist a different network than the one you expect.

[2018-10-22 18:53] #266 closed

[2018-11-02 18:51] jrbapna opened #271 "Puts doesn't work in web_console"
![image](https://user-images.githubusercontent.com/641899/47934803-c96f7200-deae-11e8-83b4-bceabbdc2847.png)

Is there a workaround?

[2018-11-03 07:28] gsamokovarov commented on #271
Puts prints the text to the standard output, e.g. the terminal which runs the development rails server. We don't capture it, because it's global for the program, which can be problematic some development servers. You can see the puts output on the rails server terminal tab or window.

[2018-11-03 07:28] #271 closed

[2018-11-03 23:30] jrbapna commented on #271
Thanks. I do however need this to work for my use case, and the product owner is persistent. Do you have a suggestion on how I could go about capturing puts from web_console on a forked branch?

[2018-11-08 10:36] rodrigobdz commented on #36
@ryandao Could you reopen this issue? It's still not working.
### Details
- OS: OSX
- web-console: Version 3.7.0
- Browser: Google Chrome Version 70.0.3538.77 (Official Build) (64-bit)

[2018-11-22 16:04] alienxp03 opened #272 "Command logs"
Is there a way to know which command is being executed? This will be extremely helpful for logging purposes.

[2018-11-23 09:34] gsamokovarov commented on #272
This is a good idea! Where would you want to see those entries? The rails log itself?

[2018-11-23 09:45] alienxp03 commented on #272
I'm not sure what would be the good practice here. My ideal usage would be to know which command was ran, and who ran the command. That way I can audit the logs later on in case there's any security concern. Most probably logs the output to `log/web_console.log`?

[2018-11-23 09:54] gsamokovarov commented on #272
The console, at least in this shape and form, is not intended to be run outside of development. The IP based authorization is not strong enough for the RCE that the console opens up. Are you on a remote page for live-debug setup in a way?

[2018-11-23 09:59] alienxp03 commented on #272
I see. It's more like I want to use this gem outside of development environment actually. Internal usage only, very restricted usage. I know how dangerous is sounds, so I'm just looking around at the moment. Whether it's worth it to allow such action to the developers. One of the benefit of doing it this way is that they can still run Rails command on each environment, without giving them ssh acce

[2018-11-23 10:21] gsamokovarov commented on #272
Effectively, you are giving them access with the same permissions as the account that runs the server. You can always shell-out in Ruby with `system` and the likes and run anything you on the development server. This time, even skipping the authentication that SSH does securely.

[2018-11-25 17:57] alienxp03 commented on #272
Points taken. Not to dismiss anything, but that's the reason why I was looking for a way to capture the logs.

My original question was to see whether capturing logs is possible assuming I'm running this outside of development. Since this gem is only intended for development purpose, I don't see any reason why would I want to capture the logs.

Thanks a lot for the clarification @gsamokovarov. Fee

[2018-12-19 18:58] rodrigobdz commented on #36
ping @ryandao. Please reopen

[2018-12-19 19:01] gsamokovarov commented on #36
I'll reopen it, but can you folks give me some more context about your environment? Browser, keyboard layout (US, European), OS, etc?

[2018-12-20 15:48] benjaminb10 commented on #36
Mac OS X 10.14
AZERTY keyboard
Chrome 71

[2018-12-25 23:01] swordfish444 commented on #36
@gsamokovarov 	What's the latest on this issue? Was this fixed at one point? Did it regress?

Multi-line commands (including copy/paste) are not working.

[code]

[2019-01-07 21:17] baonguyen84 commented on #272
@gsamokovarov  Thanks a lot for the clarification and for this excellent project!
I would like to have a follow up on this topic too since we are planning to use web-console in production (per security aspect, we only allow IP from private subnet and launch one-time task that open web-console in a unique endpoint when we want to run some tasks)
It is extremely useful if we can do the audit with th

[2019-02-20 22:37] Shelvak opened #274 "Web-console enabled in test environment breaks the rails6 report wrapper"
Hi there, sorry to bother you with that issue but I'm upgrading to Rails 6 and after a lot of debugging I figured out that, if I enable web-console in test that breaks the skip exceptions.
Only with the new Rails6 `parallelize(workers: XXX)` option for test, that raise the next error:

[code]

I created a new rails 6.beta1 app with web-console enabled globally and the next sample test:
[code]

If

[2019-02-20 22:58] Shelvak commented on #274
Checking the dependencies and the web-console code, I noticed the bindex gem.
If I comment in the local gem the  `require 'bindex'` from `lib/web_console/railtie.rb` that solve the problem (but I can't render the `console` method obviously).

[2019-02-24 09:24] gsamokovarov commented on #274
Bindex is what makes Web Console tick. I'll have to check, but don't expect to be able to run `web-console` in the test environment as we're not officially supporting this.

You may play with the `Gemfile`:

[code]

And manually requiring it when running the server and not the tests.

[2019-02-24 09:24] #274 closed

[2019-03-03 16:57] rempargo commented on #36
I need to click multiple times **⌘V**, but it is very inconsistent, sometimes 5 times, sometimes 3, and sometimes only 1 time, but in rare cases also 9 times.

    Rails 5.2.2
    Google Chrome Version 72.0.3626.119 (Official Build) (64-bit)
    MacBook Pro (15-inch, 2018)
    Keyboard: English International

[2019-04-11 22:11] localhostdotdev opened #275 "depreciation warning: ActionView::Base instances should be constructed with a lookup context"
[code]

Rails 6.0.0.beta3

[2019-04-12 15:52] gsamokovarov commented on #275
I'm preparing web-console for Rails 6 and will release it before the final 6.0 hits. The commits to fix that are already in master, but we still need a few changes for a proper release.

Thanks for the head's up, though!

[2019-04-12 15:52] #275 closed

[2019-05-06 14:56] #260 closed

[2019-05-13 14:26] king601 commented on #44
Hi all /  @gsamokovarov,

I would like to ask to re-consider adding support for at least ^C, I see it was closed in #93.

My reasons are the following:

1. Beginners when they run into an error commonly will use the console on the error page to troubleshoot what they needed to fix, once they get it working they try and copy it out to update their code. Once people see it doesn't support copying ou

[2019-05-13 14:36] gsamokovarov commented on #44
My frontend skills are quite rusty, but if someone else wants to take a stab at this and fix it once and for all, I'll be extremely grateful!

[2019-05-13 14:46] causztic commented on #44
Just curious, I am able to ^C the text on the console on Chrome.. Am I missing something painfully obvious here? 😆

[2019-05-14 15:35] diegobiavati opened #278 "Unresolved dependency found during sorting - activesupport (>= 4.2.0) (requested by rails-dom-testing-2.0.3)"
After the Rails update, the gem web-console displays the following error when I try to upgrade:
[code]

[2019-05-17 02:08] mellansquare commented on #278
I'm also having the same issue. Did you find a solution diegobiavati?

[2019-05-19 05:17] faqndo97 commented on #278
I'm having the same issue with other gem, if you know something about how to fix it let us know!!!

[2019-05-19 17:30] gsamokovarov commented on #278
Are you sure `web-console` is the culprit of the issue here and not the state of the Gemfile? Can you folks give me a bit more context about the environment in which the error occurs?

[2019-05-20 01:00] mellansquare commented on #278
Hi,
I've been migrating my project from c9.io to AWS Cloud9 (because I can't install locally on my work computer) and in updating my gems I get this error.

When I run gem update I get the following output in the terminal
[code]

Please let me know exactly what further information you require, as a learner-coder I'm never quite sure what info will be relevant to help answer my questions.

[2019-05-20 11:07] diegobiavati commented on #278
My problem is not connected to Gemfile, I have a list of gems installed and I only requested to update all, and the error was presented, when I uninstalled the gem and I give a gem update I have no return of any error.

[2019-05-23 09:40] lrjbrual commented on #278
I have the same issue. is anyone has a solution? thanks

[2019-05-29 10:08] Florencemartino commented on #256
I installed gem 'web-console', '3.6' in my gemfile and it work now. thanks !

[2019-06-02 19:46] amerov opened #280 "Enter and backspace doesn't work in Firefox"
Firefox version: 67
OS: Linux Mint 19 Cinnamon
Web-console version: 3.7.0

[2019-06-03 05:47] gsamokovarov commented on #280
What kind of keyboard layout do you have? E.g. is it US/EU?

[2019-06-03 14:04] amerov commented on #280
US

[2019-06-06 00:14] NfoCipher commented on #278
web-console 4.0 seems to depend on activesupport (6.0.0.rc1). If you specify gem install web-console -v3.7.0 , things seem to work ok with rails 5.2.3. Using ruby 2.6.3 here.

[2019-06-07 03:58] tan-wei commented on #278
Waiting for the solution ...

[2019-07-05 12:43] andreynering opened #281 "Can't type single or double quotes?"
macOS Mojave 10.14.5
Keyboard Layout: US International
Rails 5.0.7.2
Webconsole 3.7.0
Tried on both Firefox (Developer Edition) 68.0b11 and Chrome 75.0.3770.100

I really can't type `'` or `"` on the console. Hitting the quote key does absolutely nothing. There's no JavaScript errors on the browser console.

[2019-07-05 21:17] alexagranov opened #282 "Release 4.0.0 please?"
There's currently only a `v4.0.0` tag and so plain `gem :web-console` is picking up the latest `3.7.0` release which doesn't use the latest Permissions/etc.

[2019-07-05 21:21] alexagranov commented on #282
nvm, I see `4.0.0` is meant to be coupled with Rails 6.

[2019-07-05 21:21] #282 closed

[2019-07-07 09:43] gsamokovarov commented on #282
Yes, we'll release 4.0.1 or 4.1.0 a bit before the final Rails 6 release.

[2019-07-10 12:59] afuno opened #283 "cannot load such file -- skiptrace/internal/cruby (LoadError)"
Description of the problem here: https://github.com/gsamokovarov/skiptrace/issues/5

[2019-07-10 13:47] afuno commented on #283
Fixed in version 0.8.1.

[2019-07-10 13:47] #283 closed

[2019-08-31 21:17] cassiopagnoncelli opened #284 "Console won't render on production"
I've followed the basic setup to have console working on production.

Added to `application.rb`

[code]

and wrote an authenticated & authorized view to show `<%= console =>`.

Turns out it just won't render.

[2019-09-13 08:21] #36 closed

[2019-09-23 19:54] diegobiavati commented on #278
Issue resolved in version 4.0.1

[2019-09-23 19:54] #278 closed

[2019-10-07 23:58] petebytes opened #286 "How do you clear the console?"
On a regular console I can use Ctrl + L or Command + K to clear the console.
Is there a way to accomplish the same using web-console?

Thanks

[2019-10-09 07:27] gsamokovarov commented on #286
Sorry, there is no current way to clear the console.

[2019-10-09 07:51] petebytes commented on #286
No problem - still very useful :)

[2019-10-09 07:51] #286 closed

[2019-10-09 08:34] gsamokovarov commented on #286
Our frontend is a bit rusty at this point, but if you want to add clear screen support we're always open for contributions! ❤️

[2020-01-30 17:12] spemmons opened #287 "So, if you execute "exit" or something and need to restart the console, what's the procedure?"
I could not find this in the docs. The console is great, but it's not clear how to  restart it if needed. Any suggestions?

[2020-01-30 19:39] gsamokovarov commented on #287
This is a good question! It runs pure ruby code, so if you say `Kernel.exit` (or simply `exit`), it will terminate the server. 😅

What do you mean by restart of the console? Do you have any suggestions how we may communicate this?

[2020-01-30 20:14] spemmons commented on #287
ah... curious... we are running puma in a docker instance and the console appears to be a separate process because puma is still working to server the page we're using for the <% console %> statement ... so i'm guessing that whatever triggered the initial execution of the console could be used to instantiate a new process

[2020-03-03 11:20] estani commented on #36
Got fixed for 4.0 (Rails 6), it wasn't ported back to 3.7 (Rails 5) though, so if you are still on rails 5.0 you'll have to manually add the change from #285 to the already downloaded gem.
I've tested and it works. In my case (rbenv) the file was here to be found: `~/.rbenv/versions/2.5.7/lib/ruby/gems/2.5.0/gems/web-console-3.7.0/lib/web_console/templates/console.js.erb`

[2020-03-10 13:20] ansonhoyt commented on #242
I think a nonce approach might be very straightforward. Putting this out there, as it could be an easy pull request, but I don't have time to land it right now.

**What Rails provides:**

I think we can assume users would configure Rails' CSP to generate a nonce, as per the [Securing Rails Applications](https://guides.rubyonrails.org/security.html#content-security-policy) guide.

Rails provides[ `

[2020-04-04 14:21] cassiopagnoncelli commented on #284
Any news here?

I was seeing an old post advocating for `config.web_console.allowed_environments` listing allowed environments. My intention is to use in production for a super admin user.

[2020-04-08 07:27] gsamokovarov commented on #287
Yeah, refresh the page or run the development server with a single process so you know you'll always hit the memory of the process you want to debug.

[2020-04-08 07:27] #287 closed

[2020-04-08 07:28] gsamokovarov commented on #284
Sorry for the late response @cassiopagnoncelli. This question comes often, but running `web-console` on production is a security nightmare and not something we want to support or endorse.  We have made it explicitly hard to enable in production.

[2020-04-08 07:28] #284 closed

[2020-04-09 15:25] cassiopagnoncelli commented on #284
@gsamokovarov I understand that, it's quite clear. Thing is, I want to avoid forking it to make it possible in prod.

[2020-04-09 18:39] gsamokovarov commented on #284
https://github.com/rails/web-console/blob/be84e6471c33bbbea17f6dfc9e5ed3c7c7c4bb57/lib/web_console/railtie.rb#L29

[2020-04-14 06:03] jtokoph commented on #242
I worked around this with the secure-headers gem by including this in my ApplicationController:

[code]

[2020-05-04 09:29] estani commented on #36
Just a heads up, this is in master, but still not released as of 4.0.1. In case someone is still wondering after 6 months. The patch should be something like:
[code]

[2020-05-05 13:36] gsamokovarov commented on #36
You have a point, I have been holding on `4.0.2` for too long. It's released now with #285 applied.

[2020-05-14 01:00] connorshea opened #288 "Deprecation warning for web console in Firefox"
[This line](https://github.com/rails/web-console/blob/be84e6471c33bbbea17f6dfc9e5ed3c7c7c4bb57/lib/web_console/templates/console.js.erb#L430) is causing a deprecation warning in Firefox.

The warning says "Use of Mutation Events is deprecated. Use MutationObserver instead."

Reproduction steps:

- Open a Rails app with web-console in Firefox (I use Nightly but it should be possible to trigger on a

[2020-06-07 22:49] IceSaTwo commented on #90
@rosenfeld @gsamokovarov
was the fix puma or was it by whitelisting the addresses?
I'm finding that I 'Cannot render console from' an IPv6 address, so i think it's a similar issue.

[2020-07-12 10:57] codingiam opened #292 "Issue with web-console (4.0.3), rack (2.2.3) and webrick"
I have a project with:
- ruby (2.6.5)
- rails (6.0.3.2)
- web-console (4.0.3)
- rack (2.2.3)

I start my application with WEBrick:
bundle exec rails server -u webrick

Whenever an exception occurs instead of getting the web-console UI I get the following error:
[code]
I was not getting this exception with web-console (4.0.2).

This started appearing with web-console (4.0.3) and it seems related to

[2020-07-12 16:19] gsamokovarov commented on #292
Thanks for the report. Looks like webrick expects the value as a string, yeah. Will test it locally and release 4.0.4 with a fix.

[2020-07-12 16:55] gsamokovarov commented on #292
Should be fixed in `4.0.4` by https://github.com/rails/web-console/commit/fb483743a6a2a4168cdc0b2e03f48fc393991b73. Please, feel free to reopen the issue if the problem still persists.

[2020-07-12 16:55] #292 closed

[2020-07-12 20:41] codingiam commented on #292
It works with 4.0.4. Thank you!

[2020-07-16 23:31] alex-benoit opened #293 "Web console activated in test environment warning showing despite not being in test group"
Web console complaining about being in the test environment but it is not. Warning shown after upgrade to 4.0.4

Warning seen:
[code]

Gemfile:
[code]

The error happens when running `bundle exec rake` but not `rake` by itself.

Rakefile:
[code]

bin/rake:
[code]

While does `bundle exec` prefix seems to affect the rails environment?

[2020-07-16 23:44] alex-benoit commented on #293
The solution involved prepending `RAILS_ENV=test` to the bundle exec command or adding `ENV['RAILS_ENV'] ||= 'test'` at the top of the Rakefile
https://github.com/bkeepers/dotenv/issues/395#issuecomment-637196418

[2020-07-16 23:44] #293 closed

[2020-07-19 19:27] malayhm opened #294 "Readonly Access"
I think if we want to prevent users to access console without write access, web-console can not be used.

Any plans to add a read-only configuration option so that the end-user can't update anything?

[2020-07-20 12:34] gsamokovarov commented on #294
This will be a whole new project, the whole idea of Web Console is to allow you to debug your program and this includes the execution of arbitrary Ruby code. Web Console is not suitable for production use and we explicitly made it hard for it to run in non-development environments.

[2020-07-20 12:34] #294 closed

[2020-08-03 11:42] etherz10 opened #295 "ANSI escape codes not rendering correctly"
Currently running v3.7.0 on Rails 5.2.4.3 & Ruby 2.5.8 and using Chrome 84.0.4147.105

![image](https://user-images.githubusercontent.com/1347813/89178630-f3732e00-d585-11ea-905b-bf87d140df7b.png)

Any suggestions on how to fix this? It's nothing major but does just make things a bit harder to read.

[2020-08-05 14:44] gsamokovarov commented on #295
Hey, web-console is no longer a real terminal and this is why we don't render escape codes. That said, I can probably strip them, though. Is this coming from the output of a shell-out?

[2020-08-11 08:51] etherz10 commented on #295
Yea, would you be able to create a release with this fix for Rails 5 also?

[2020-08-19 07:47] #242 closed

[2020-08-19 07:49] #288 closed

[2020-08-21 01:03] pvalena opened #299 "Failing tests with Ruby 2.7"
While executing tests in Fedora (we're running tests for packaged gems).

All of them seem to fail with same error:
[code]
Tests log: https://git.io/JJjej

Also there's another warning (might be good hint):
[code]

[2020-08-29 13:19] brentgreeff opened #300 "Disable web console"
This is pretty invasive for experienced devs.

config.web_console.whitelisted_ips = []

^ that does not work. - How can I get rid of this for myself - not sure if other devs on my project use this. - otherwise I would just remove the gem.

[2020-09-07 12:42] voxik commented on #299
It seems you are mixing web-console-3.5.1 with web-console-4.0.4

[2020-09-07 14:22] voxik opened #301 "`WebConsole::EvaluatorTest#test_Evaluator_callers_are_cleaned_up_of_unneeded_backtraces` test failure"
Travis is reporting following error [[1]]:

[code]

The error is rather strange. I have already opened two tickets trying to have this fixed:

https://bugs.ruby-lang.org/issues/17160
https://github.com/rails/rails/issues/40196

[1]: https://travis-ci.org/github/rails/web-console/jobs/719200769

[2020-09-28 17:23] Nowaker commented on #204
Theoretically, https://github.com/rails/web-console/commit/4ba9f5044f9322ea16f97e69b7167170c9c34522 should fix the problem introduced in commit https://github.com/rails/web-console/commit/19e60d4177fcea50fd920c68c500172640f706b7 released in version 3.2.0. Therefore, theoretically, this monkey patch should fix the problem:

[code]

But it doesn't. The silencing code, whatever it is, does not work w

[2020-11-03 19:34] stephannv opened #303 "Breaking with Rails 6.1.rc1."
Can be this change breaking web-console with rails 6.1-rc1?
Web-console:
https://github.com/rails/web-console/commit/434149617f0c2f66cda7a55206788e2713b48566#diff-7bc80c4bc731f19ccaee77fb14214df9ea0932eb1e7528085a9d517815901eceL20-R20

Rails 6.1 rc1:
https://github.com/rails/rails/commit/cd0c99c991ecbdb60b87cf648a6fddb0a50a13ad#diff-2c5bc6d4049baee92f8bb3b4cfd67b744ca0309ffbfdf6910bee8d0024ec4dffL

[2020-11-04 15:05] #303 closed

[2020-12-21 17:39] voxik commented on #301
This seems to be difference in `binding.eval` backtrace between Ruby 2.7 and 3.0:

https://bugs.ruby-lang.org/issues/17419

[2020-12-31 22:37] excid3 opened #307 "CurrentAttributes gets reset for web-console requests"
I wasn't sure if I should report this in Rails or web-console. Let me know if I should open this in Rails instead.

If we have a Rails app with Current.user assigned and try to print `Current.user` in web-console on an error page, it will return `nil`

<img width="799" alt="Screen Shot 2020-12-31 at 4 35 24 PM" src="https://user-images.githubusercontent.com/67093/103427365-344b8f00-4b86-11eb-9158-

[2020-12-31 22:39] Willardgmoore commented on #307
Thanks for the help figuring out that I wasn't going crazy and that this was a real error.

[2020-12-31 22:45] excid3 commented on #307
CurrentAttributes is reset here in Rails:  https://github.com/rails/rails/blob/12ce3e7723651f442e89fdc2d8be06ad00d2f228/activesupport/lib/active_support/railtie.rb#L21-L24

@kaspth saw you were in the commit for those lines. Any ideas on a solution for this?

[2021-01-04 09:36] gsamokovarov commented on #307
This can be tricky, because Web Console evaluates the code *after* the request has been done, and the `Current` state has been reset.

[2021-01-05 07:34] #301 closed

[2021-02-20 01:07] #240 closed

[2021-06-03 13:59] alex-benoit opened #309 "Wildcard host for ngrok"
When tunneling though a service such as `ngrok`, your host name is `https://*.ngrok.io/`, but there is no way to set the wildcard domain as a permitted host. How can I force the web console to run in development, or pass a wildcard domain to the `config.web_console.permissions`

[2021-09-02 17:37] jonmarkgo opened #312 "Still not working with Rails 6.1"
nevermind

[2021-09-02 17:41] #312 closed

[2021-11-02 02:29] rafaelfranca commented on #309
webconsole permission system only support network not DNS hosts. The reason for that is to avoid RCE attacks against development Rails applications running locally.

[2021-11-02 02:29] #309 closed

[2022-01-28 12:12] NehaPeer opened #313 "web-console gem error in ruby 2.7 and rails 6.1"
Using

Ruby - 2.7.3
Rails - 6.1.3.2
We are using web-console gem (version - 4.1.0) but while running server it throws below error -
/export123/user_name/app/shared/bundle/ruby/2.7.0/gems/railties-6.1.3.2/lib/rails/railtie/configuration.rb:97:in `method_missing':

undefined method `web_console' for #<Rails::Application::Configuration:0x0000558d452a2970> (NoMethodError)

Added code into config/envir

[2022-01-28 12:25] gsamokovarov commented on #313
Is `web-console` in your Gemfile?

[2022-01-28 12:41] NehaPeer commented on #313
Yes

[2022-01-28 13:00] #299 closed

[2022-01-28 13:01] #220 closed

[2022-01-28 13:02] #209 closed

[2022-01-28 13:54] gsamokovarov commented on #307
I'd be closing this. Web Console is post-mortem debugger and by the time we debug, that global `Current` state has been reset.

[2022-01-28 13:54] #307 closed

[2022-01-28 13:54] #44 closed

[2022-01-28 13:54] #83 closed

[2022-01-28 13:54] #206 closed

[2022-01-28 13:54] #212 closed

[2022-01-28 13:54] #227 closed

[2022-01-28 13:54] #229 closed

[2022-01-28 13:54] #245 closed

[2022-01-28 13:54] #280 closed

[2022-01-28 13:54] #281 closed

[2022-01-28 13:54] #295 closed

[2022-01-28 13:55] #300 closed

[2022-02-01 18:52] eloyesp commented on #223
Hi, it would be nice to have some instructions added on the readme about how to config what console to run (irb or pry)

[2022-02-05 06:52] parikshit223933 commented on #33
This happeded with me when i ran
[code]
I fixed it with
[code]

[2022-04-20 21:46] TSMMark commented on #286
Would you still accept a PR for clear behavior, and if so, any tips?

[2022-04-22 22:05] altherlex opened #314 "Missing template rails_web_console/console/run"
Using
- ruby (2.6.3)
- rails (5.2.6.3)
- rails-web-console (0.4.0)
- web-console (3.7.0)

[code]

[2022-04-22 22:08] #314 closed

[2022-04-25 13:59] TSMMark opened #315 "Support for multiple web workers (websockets?)"
Hi, thanks for this gem!

I'm wondering if it's possible for this gem to work with a multi-worker / load balanced architecture such as unicorn. I know the docs here say to just change the number workers to 1 — but that is not always feasible.

To my understanding, the main reason multiple-worker architecture poses an issue is because the repl session is stored in web worker memory on the server, w

[2022-04-26 11:04] gsamokovarov commented on #315
You want to debug the process that raised the error and this is tricky in multi-process environment, because we cannot be sure the process processing the input of Web Console is the same as the one that produced the error. The same will be the case with Web Console unless the WS server runs inside the same process. The WS server can very well live in a separate process even in development and with

[2022-04-26 15:46] TSMMark commented on #315
I'm mostly interested in the `console` or `<% console %>` functionality more-so than the "console when an error is raised" bit. I use better_errors for that anyway.

The kind of thing I am interested in is a ruby repl that runs in browser that can run commands on the back end — regardless of any error context, and regardless of how many web workers there are. Does that make sense?

[2022-06-09 03:17] DanielHeath opened #317 "Do not render web console for non-HTML requests"
If I get an error fetching some JSON in an XHR request, rendering web-console isn't going to help; I'm better off dropping into a debugger on the server process.

Any interest in adding merging a PR adding rails configuration setting like `config.web_console.skip_request? = lambda {|request| request.xhr?}`

[2022-06-10 01:23] hudakh commented on #313
I have the same issue since upgrading ruby and rails.

Ruby 2.7
Rails 6.1.6

[2022-06-11 18:59] gsamokovarov commented on #317
Do you happen to render this JSON in a response with HTML media type? We really try to render the console **only** on HTML requests:

https://github.com/rails/web-console/blob/83b282e7bba7ac4661f6edce269546fa78ce03a3/lib/web_console/middleware.rb#L54-L56

[2022-06-14 02:02] DanielHeath commented on #317
That makes sense - I do have some HTML endpoints retrieved via `xhr`.

Perhaps also checking `request.xhr?` where you check `acceptable_content_type?` is worth doing? XHR handlers probably aren't equipped to deal with the web console.

Unfortunately this doesn't also work for the new `fetch` standard, since it doesn't set `x-requested-with`.

[2022-06-14 13:11] gsamokovarov commented on #317
XHR requests are used in [Turbo](https://turbo.hotwired.dev) and I'm a bit reluctant to cut all of them off. Using Turbolinks or its newer incarnations is common for Rails projects.

[2022-06-15 04:53] DanielHeath commented on #317
Turbo uses `fetch`, not XHR: https://github.com/hotwired/turbo/blob/main/src/http/fetch_request.ts#L97 - and has done for at least 3 years.

[2022-06-21 13:19] gsamokovarov commented on #317
Didn't realise that `fetch` requests don't get the XHR header. Let me think about it some more, as I'm reluctant to add yet another one-off config to Web Console.

[2022-06-28 05:38] 23tux commented on #223
I'd also like some guidance, on how to use pry with web console. @eloyesp did you find out how?

[2022-06-28 11:56] gsamokovarov commented on #223
`binding.pry` and `binding.irb` (it's a builtin Pry alternative) stop the program and let you investigate it through a terminal. Web Console leaves the program running and give you the ability to introspect it post-factum. You cannot use Web Console as a remote TTY for Pry or IRB, they are different tools.

[2022-08-10 15:25] masterkain opened #320 "NameError: constant WebConsole::SourceLocation not defined"
I'm not entirely sure what's going on here but I have this in a Rails 7.0.3.1 app:

[code]

[2022-10-14 09:54] krtschmr opened #322 "Faulty message: Web Console is activated in the test environment"
![image](https://user-images.githubusercontent.com/13366714/195818727-3adb01ad-281c-4717-88be-75491a06b939.png)

Rails 6.1, ruby 2.7

i'm very confused about this

doing as i got told, same outcome.

<img width="576" alt="image" src="https://user-images.githubusercontent.com/13366714/195819361-2f2e7508-6e80-4251-b5a5-1895acef4e87.png">

[2022-10-18 10:28] gsamokovarov commented on #322
Are you sure `web-console` is duplicated and not present in a `:test` group as well.

[2022-10-18 10:29] krtschmr commented on #322
that i'm certain. after further investigation, i believe it might has to do with the `dotenv` gem

[2022-10-18 10:58] gsamokovarov commented on #322
`dotenv` is setting the envs in Ruby runtime. It has to be required first, it may happen that the `web-console` gem is loaded alongside `dotenv` through Bundler and only afterwards, the `RAILS_ENV` env is set. Because of `dotenv` being a runtime dependency, I prefer to set environment variables with tools like [direnv tool](https://direnv.net).

We really don't want the `web-console` code in the t

[2022-10-18 10:58] #322 closed

[2022-11-08 11:57] FaithAdekunle commented on #320
I am having the same error.

[2022-11-08 14:18] dneighbors commented on #320
Same issue.

[2022-11-25 14:32] dotgrid commented on #320
Same thing for me 😞

[2022-11-28 18:05] gsamokovarov commented on #320
Can you give me some context, so I can track this down. Maybe your specific Gemfile? When does this happen? During error, during boot?

[2022-11-28 18:09] okarny commented on #320
@gsamokovarov this happens at `bundle install` and its the web-console gem as seen in the error above. @masterkain correct me if i'm wrong but when I removed the gem these issues went away.